/* 
.btn.gold-btn {
    background-color: #d8aa4ffc; 
    color: #000; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
} */

.data tr th {
    font-size: 16px;
}
.data tr.ng-star-inserted td {
    font-size: 14px;
    line-height: 20px;
}
.data tr.ng-star-inserted td span {
    padding: 0;
   	background: none;
}
.data tr.ng-star-inserted td a {
    background: none;   
    padding: 5px 5px;
 
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    border-color: unset !important;
}

.data tr:nth-child(even) {
    background-color: #fee19a !important;
}

@media (max-width:1499px){
	.data tr.ng-star-inserted td a {
	    background: none;
	    display: inline-flex;
	    padding: 5px 5px;
	}
}



.btn.focus, .btn:focus {
    box-shadow: none !important;
}