<div class="dashboard-outer">

    <section>
        <div class="content-body">
            <div class="container-fluid">
                <div class="flex mb-2 items-center ml-1">
                    <!-- Back Arrow Button -->
                    <!-- <button class="flex items-center justify-center w-7 h-7 rounded-full mr-3 mb-2 text-white"
                        style="background-color: #726641;">
                        <i class="fas fa-arrow-left" style="font-size: 13px; text-align: center;"></i>
                    </button> -->
                    <h1 class="text-lg font-semibold" style="font-size: 25px; color: #726641;">Messages</h1>
                </div>
                <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
                    <div class="custom-container max-w-5xl mx-auto p-3">
                        <div class="container">
                            <div class="table-container">
                                <table>
                                  <thead>
                                    <tr>
                                      <th>First Name</th>
                                      <th>Last Name</th>
                                      <th>Last Message</th>
                                      <th>lastMessageTime</th>
                                      <th>Action</th>
                                        <th>Status</th>
                                        
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr class="row-light" *ngFor="let item of messageList">
                                      <td>{{item.firstName}}</td>
                                      <td>{{item.lastName}}</td>
                                      <td>{{item.lastMessage}}</td>
                                      <td>
                                        {{item.lastMessageTime}}
                                      </td>
                                      <td [style.color]="item.status ? 'green' : 'red'">
                                        {{ item.status ? 'Online' : 'Offline' }}
                                      </td>
                                      <td [routerLink]="['/messages/chat']"><i class="fa fa-eye"></i></td>

                                    </tr>
                                    <!-- <tr class="row-dark">
                                        <td>MOHAMMED</td>
                                        <td>ELAWADLY</td>
                                        <td>thank you so much</td>
                                        <td>
                                          2025-04-15T04:55:52.067
                                        </td>
                                       <td style="color: red;">Offline</td>
                                        <td [routerLink]="['/messages/chat']"><i class="fa fa-eye"></i></td>

                                    </tr> -->
                                  </tbody>
                                </table>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>