<div class="dashboard-outer" *ngIf="role == 'Patient'">

  <div class="nav-header">

    <a class="brand-logo">
      <img class="logo-abbr" src="assets/images/logo-dashboard.png" alt="">
    </a>

    <ul class="header-profile d-none xs-d-grid">
      <li><a href="/" class=""><img src="assets/images/notification-i.svg" class="img-responsive"></a></li>
      <li><a href="/" class=""><img src="assets/images/profile-i.svg" class="img-responsive"></a></li>
      <!-- <li><a href="/" class="setting"><img src="assets/images/settings-i.svg" class="img-responsive"></a></li> -->
    </ul>

    <div class="nav-control">
      <div class="toggle-menu nav-toggle">
        <img src="assets/images/menu-i.svg">
      </div>
    </div>

  </div>
  <!--**********************************
    Nav header end
***********************************-->
  <header class="xs-d-none">
    <ul class="headnav mr-auto xs-d-none">
      <li><a href="javascript:void(0)"></a></li>
    </ul>
    <ul class="header-profile">
      <li><a class="setting" data-toggle="dropdown">
          <img src="assets/images/profile-i.svg" class="img-responsive">
        </a>
        <ul class="dropdown-menu mt-10">
          <li class="mb-2"><a class="dropdown-item " [routerLink]="['/profile']">{{ 'PROFILE' | translate }}</a></li>
          <li><a class="dropdown-item" [routerLink]="['/']">
              {{ 'LOGOUT' | translate }}</a></li>

        </ul>
      </li>

      <!-- <li class="dropdown">
        <a class="setting " data-toggle="dropdown"><img src="assets/images/settings-i.svg" class="img-responsive"></a>
        <ul class="dropdown-menu mt-10">
          <li><a class="dropdown-item" [routerLink]="['/privacy-policy']">
              {{ 'PRIVACY_POLICY' | translate }}</a></li>
          <li><a class="dropdown-item" [routerLink]="['/terms-and-conditions']">
              {{ 'TERMS_AND_CONDITIONS' | translate }}</a></li>
          <li><a class="dropdown-item" [routerLink]="['/about-us']">
              {{ 'ABOUT_US' | translate }}</a></li>
        </ul>
      </li> -->
      <li class="language-dropdown"
        [ngClass]="{'english-selected': currentLanguage === 'en', 'arabic-selected': currentLanguage === 'ar'}">
        <a href="javascript:void(0)" class="language-icon" id="languageDropdown" (click)="toggleLanguageMenu()">
          <img src="assets/images/language-icon.svg" class="img-responsive">
        </a>
        <ul class="dropdown-menu1 language-menu1" [ngClass]="{'show': isLanguageMenuOpen}">
          <li class="mb-2">
            <a class="down" href="javascript:void(0)" (click)="switchLanguage('en')"
              [class.selected]="currentLanguage === 'en'"> {{
              'ENGLISH' | translate }}</a>
          </li>
          <li>
            <a class="down" href="javascript:void(0)" (click)="switchLanguage('ar')"
              [class.selected]="currentLanguage === 'ar'"> {{
              'ARABIC' | translate }}</a>
          </li>
        </ul>
      </li>

    </ul>
  </header>

  <!-- ---- -->
  <section>
    <aside class="side-bar">
      <a class="aside-logo text-center">
        <img class="logo-abbr" src="assets/images/logo-dashboard.png" style="max-width: 120px; margin: auto;">
      </a>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="menu">
            <div class="item one">
              <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><svg
                  xmlns=" http://www.w3.org/2000/svg " viewBox="0 0 576 512">
                  <path
                    d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z">
                  </path>
                </svg> <span style="font-size: 15px !important; font-weight: 600 !important;">{{ 'DASHBOARD' | translate
                  }}</span></a>
            </div>

            <div class="item one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/visit']">
                <i class="fas fa-calendar-check" style="font-size: 20px;"></i> <span
                  style="font-size: 15px !important; font-weight: 600 !important;">{{ 'MY_VISITS' | translate }}</span>

              </a>
            </div>

            <div class="item shw one" routerLinkActive="active">
              <a [routerLink]="['/complaint']">
                <i class="fas fa-exclamation-circle" style="font-size: 20px;"></i> <span
                  style="font-size: 15px !important; font-weight: 600 !important;">{{ 'COMPLAINT_LIST' | translate
                  }}</span>
              </a>
            </div>

            <div class="item shw one" routerLinkActive="active">
              <a [routerLink]="['/appointment-list']">
                <i class="fas fa-clipboard-list" style="font-size: 20px;"></i>

                <span style="font-size: 15px !important; font-weight: 600 !important;">{{ 'MY_APPOINTMENTS' | translate
                  }}</span>
              </a>
            </div>


<!-- 
            <div class="item shw one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/satisfaction-form']">
                <i class="fas fa-thumbs-up" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;">{{ 'SATISFACTION_FORM' |
                  translate }}</span>
              </a>
            </div> -->


            <div class="item shw one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/medication-list']">
                <i class="fas fa-pills" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'MEDICATION' | translate }}
                </span>
              </a>
            </div>

            <div class="item shw one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/request-list']">
                <i class="fas fa-user-plus" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'REQUEST' | translate }}
                </span>
              </a>
            </div>




            <div class="item shw one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/messages']">
                <i class="fas fa-comment-dots" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;"> {{ 'MESSAGES' | translate
                  }}</span>
              </a>
            </div>

            <div class="item shw one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/history-list']">
                <i class="fas fa-history" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;">{{ 'HISTORY' | translate
                  }}</span>
              </a>
            </div>

            <div class="item shw one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/Health-Tracker']">
                <i class="fas fa-heartbeat" style="font-size: 20px; margin-right: 5px;"></i> <!-- NEW icon -->
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'HEALTH_TRACKER' | translate }}
                </span>
              </a>
            </div>

            <div class="item shw one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/educational-Material']">
                <i class="fas fa-book" style="font-size: 20px; margin-right: 5px;"></i> <!-- Book icon -->
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'EDUCATIONAL_MATERIAL' | translate }}
                </span>
              </a>
            </div>



            <!-- <div class="item shw one" routerLinkActive="active">
              <a>
                <i class="fas fa-comments" style="font-size: 20px;"></i> 
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'CHAT' | translate }}
                </span>
              </a>
            </div>
            

            <div class="item shw one" routerLinkActive="active">
              <a>
                <i class="fas fa-map-marker-alt" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'LOCATION' | translate }}
                </span>
              </a>
            </div> -->


            <!-- <div class="item shw one" routerLinkActive="active">
              <a>
                <i class="fas fa-address-book" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'CONTACT_US' | translate }}
                </span>
              </a>
            </div>
             -->
            <div class="item one" routerLinkActive="active">
              <a [routerLink]="['/about-Us']">
                <i class="fas fa-users"></i> <span style="font-size: 15px !important; font-weight: 600 !important;">{{
                  'ABOUT_US' | translate }}</span>
              </a>
            </div>

          </div>
        </div>




      </div>


    </aside>


    <router-outlet></router-outlet>
  </section>
</div>



<!-- Doctor Layout -->



<div class="dashboard-outer" *ngIf="role == 'Doctor'">

  <div class="nav-header">

    <a class="brand-logo">
      <img class="logo-abbr" src="assets/images/logo-dashboard.png" alt="">
    </a>

    <ul class="header-profile d-none xs-d-grid">
      <li><a href="/" class=""><img src="assets/images/notification-i.svg" class="img-responsive"></a></li>
      <li><a href="/" class=""><img src="assets/images/profile-i.svg" class="img-responsive"></a></li>
      <!-- <li><a href="/" class="setting"><img src="assets/images/settings-i.svg" class="img-responsive"></a></li> -->
    </ul>

    <div class="nav-control">
      <div class="toggle-menu nav-toggle">
        <img src="assets/images/menu-i.svg">
      </div>
    </div>

  </div>
  <!--**********************************
    Nav header end
***********************************-->
  <header class="xs-d-none">
    <ul class="headnav mr-auto xs-d-none">
      <li><a href="javascript:void(0)"></a></li>
    </ul>
    <ul class="header-profile">
      <li><a class="setting" data-toggle="dropdown">
          <img src="assets/images/profile-i.svg" class="img-responsive">
        </a>
        <ul class="dropdown-menu mt-10">
          <li class="mb-2"><a class="dropdown-item " [routerLink]="['/profile']">{{ 'PROFILE' | translate }}</a></li>
          <li><a class="dropdown-item" [routerLink]="['/']">
              {{ 'LOGOUT' | translate }}</a></li>

        </ul>
      </li>

      <!-- <li class="dropdown">
        <a class="setting " data-toggle="dropdown"><img src="assets/images/settings-i.svg" class="img-responsive"></a>
        <ul class="dropdown-menu mt-10">
          <li><a class="dropdown-item" [routerLink]="['/privacy-policy']">
              {{ 'PRIVACY_POLICY' | translate }}</a></li>
          <li><a class="dropdown-item" [routerLink]="['/terms-and-conditions']">
              {{ 'TERMS_AND_CONDITIONS' | translate }}</a></li>
          <li><a class="dropdown-item" [routerLink]="['/about-us']">
              {{ 'ABOUT_US' | translate }}</a></li>
        </ul>
      </li> -->
      <li class="language-dropdown"
        [ngClass]="{'english-selected': currentLanguage === 'en', 'arabic-selected': currentLanguage === 'ar'}">
        <a href="javascript:void(0)" class="language-icon" id="languageDropdown" (click)="toggleLanguageMenu()">
          <img src="assets/images/language-icon.svg" class="img-responsive">
        </a>
        <ul class="dropdown-menu1 language-menu1" [ngClass]="{'show': isLanguageMenuOpen}">
          <li class="mb-2">
            <a class="down" href="javascript:void(0)" (click)="switchLanguage('en')"
              [class.selected]="currentLanguage === 'en'"> {{
              'ENGLISH' | translate }}</a>
          </li>
          <li>
            <a class="down" href="javascript:void(0)" (click)="switchLanguage('ar')"
              [class.selected]="currentLanguage === 'ar'"> {{
              'ARABIC' | translate }}</a>
          </li>
        </ul>
      </li>

    </ul>
  </header>

  <!-- ---- -->
  <section>
    <aside class="side-bar">
      <a class="aside-logo text-center">
        <img class="logo-abbr" src="assets/images/logo-dashboard.png" style="max-width: 120px; margin: auto;">
      </a>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="menu">
            <div class="item one">
              <a [routerLink]="['/doctor-dashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><svg
                  xmlns=" http://www.w3.org/2000/svg " viewBox="0 0 576 512">
                  <path
                    d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z">
                  </path>
                </svg> <span style="font-size: 15px !important; font-weight: 600 !important;">{{ 'DASHBOARD' | translate
                  }}</span></a>
            </div>


             <div class="item shw one" routerLinkActive="active">
              <a [routerLink]="['/doctor-appointment']">
                <i class="fas fa-clipboard-list" style="font-size: 20px;"></i>

                <span style="font-size: 15px !important; font-weight: 600 !important;">{{ 'MY_APPOINTMENTS' | translate
                  }}</span>
              </a>
            </div>
     

                <div class="item shw one" routerLinkActive="active">
              <a [routerLink]="['/doctor-patient']">
                <i class="fas fa-clipboard-list" style="font-size: 20px;"></i>

                <span style="font-size: 15px !important; font-weight: 600 !important;">My Patient</span>
              </a>
            </div>
         
          
            <div class="item shw one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/educational-Material']">
                <i class="fas fa-book" style="font-size: 20px; margin-right: 5px;"></i> <!-- Book icon -->
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'EDUCATIONAL_MATERIAL' | translate }}
                </span>
              </a>
            </div>



             <div class="item shw one" routerLinkActive="active">
              <a>
                <i class="fas fa-comments" style="font-size: 20px;"></i> 
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  Message
                </span>
              </a>
            </div>
            
 


         
            <div class="item one" routerLinkActive="active">
              <a [routerLink]="['/about-Us']">
                <i class="fas fa-users"></i> <span style="font-size: 15px !important; font-weight: 600 !important;">{{
                  'ABOUT_US' | translate }}</span>
              </a>
            </div>


               <div class="item shw one" routerLinkActive="active">
              <a>
                <i class="fas fa-address-book" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                 Terms & Conditions
                </span>
              </a>
            </div>
            
          </div>
        </div>




      </div>


    </aside>


    <router-outlet></router-outlet>
  </section>
</div>


