<div class="dashboard-outer" *ngIf="role == 'Patient'">

  <div class="nav-header  mobile-only"
    style="position: fixed; top: 0; left: 0; right: 0; z-index: 1000; background-color: #fff; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">

    <a class="brand-logo">
      <img class="logo-abbr" src="assets/images/logo-dashboard.png" alt="">
    </a>

    <!-- <ul class="headnav mr-auto xs-d-none">
      <li><a href="javascript:void(0)"></a></li>
    </ul> -->

    <ul class="header-profile">
      <li class="language-dropdown"
        [ngClass]="{'english-selected': currentLanguage === 'en', 'arabic-selected': currentLanguage === 'ar'}">
        <a href="javascript:void(0)" class="language-icon" id="languageDropdown" (click)="toggleProfileMenuMobile()">
          <img src="assets/images/profile-i.svg" class="img-responsive">
        </a>
        <ul class="dropdown-menu1 language-menu1" [ngClass]="{'show': isProfileMenuOpenMobile}">
          <li class="mb-2">
            <a class="dropdown-item" [routerLink]="['/profile']">{{ 'PROFILE' | translate }}</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="logouts()">{{ 'LOGOUT' | translate }}</a>
          </li>
        </ul>
      </li>

      <li class="language-dropdown"
        [ngClass]="{'english-selected': currentLanguage === 'en', 'arabic-selected': currentLanguage === 'ar'}">
        <a href="javascript:void(0)" class="language-icon" id="languageDropdown" (click)="toggleLanguageMenuMobile()">
          <img src="assets/images/language-icon.svg" class="img-responsive">
        </a>
        <ul class="dropdown-menu1 language-menu1" [ngClass]="{'show': isLanguageMenuOpenMobile}">
          <li class="mb-2">
            <a class="down" href="javascript:void(0)" (click)="switchLanguage('en')"
              [class.selected]="currentLanguage === 'en'">
              {{ 'ENGLISH' | translate }}
            </a>
          </li>
          <li>
            <a class="down" href="javascript:void(0)" (click)="switchLanguage('ar')"
              [class.selected]="currentLanguage === 'ar'">
              {{ 'ARABIC' | translate }}
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="nav-control">
      <div class="toggle-menu nav-toggle" (click)="toggleMenus()">
        <img src="assets/images/menu-i.svg">
      </div>
    </div>
  </div>

  <!--**********************************
    Nav header end
***********************************-->
  <header class="xs-d-none">
    <ul class="headnav mr-auto xs-d-none">
      <li><a href="javascript:void(0)"></a></li>
    </ul>
    <ul class="header-profile">
      <li class="language-dropdown"
        [ngClass]="{'english-selected': currentLanguage === 'en', 'arabic-selected': currentLanguage === 'ar'}">
        <a href="javascript:void(0)" class="language-icon" id="languageDropdown" (click)="toggleProfileMenuWeb()">
          <img src="assets/images/profile-i.svg" class="img-responsive">
        </a>
        <ul class="dropdown-menu1 language-menu1" [ngClass]="{'show': isProfileMenuOpenWeb}">
          <li class="mb-2"><a class="dropdown-item " [routerLink]="['/profile']">{{ 'PROFILE' | translate }}</a></li>
          <li><a class="dropdown-item" (click)="logouts()">
              {{ 'LOGOUT' | translate }}</a></li>

        </ul>
      </li>


      <li class="language-dropdown"
        [ngClass]="{'english-selected': currentLanguage === 'en', 'arabic-selected': currentLanguage === 'ar'}">
        <a href="javascript:void(0)" class="language-icon" id="languageDropdown" (click)="toggleLanguageMenuWeb()">
          <img src="assets/images/language-icon.svg" class="img-responsive">
        </a>
        <ul class="dropdown-menu1 language-menu1" [ngClass]="{'show': isLanguageMenuOpenWeb}">
          <li class="mb-2">
            <a class="down" href="javascript:void(0)" (click)="switchLanguage('en')"
              [class.selected]="currentLanguage === 'en'"> {{
              'ENGLISH' | translate }}</a>
          </li>
          <li>
            <a class="down" href="javascript:void(0)" (click)="switchLanguage('ar')"
              [class.selected]="currentLanguage === 'ar'"> {{
              'ARABIC' | translate }}</a>
          </li>
        </ul>
      </li>

    </ul>
  </header>

  <!-- ---- -->
  <section>
    <aside class="side-bar" [ngClass]="{'show-sidebar': isSidebarCollapsed}">
      <a class="aside-logo text-center" [ngClass]="{'hide-logo': isSidebarCollapsed}">
        <img class="logo-abbr" src="assets/images/logo-dashboard.png" style="max-width: 120px; margin: auto;">
      </a>


      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="menu">
            <div class="item one">
              <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                (click)="updateVisitSection(VisitSectionType.Dashboard)"><svg xmlns=" http://www.w3.org/2000/svg "
                  viewBox="0 0 576 512">
                  <path
                    d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z">
                  </path>
                </svg> <span style="font-size: 15px !important; font-weight: 600 !important;">{{ 'DASHBOARD' | translate
                  }}</span></a>
            </div>

            <div class="item one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/visit']" (click)="updateVisitSection(VisitSectionType.Visit)">
                <i class="fa-solid fa-file-medical  text-2xl" style="font-size: 20px;"></i> <span
                  style="font-size: 15px !important; font-weight: 600 !important;">{{ 'MY_VISITS' | translate }}</span>

              </a>
            </div>



            <div class="item one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/doctor-list']">
                <svg xmlns=" http://www.w3.org/2000/svg " viewBox="0 0 448 512">
                  <path
                    d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-96 55.2C54 332.9 0 401.3 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7c0-81-54-149.4-128-171.1V362c27.6 7.1 48 32.2 48 62v40c0 8.8-7.2 16-16 16H336c-8.8 0-16-7.2-16-16s7.2-16 16-16V424c0-17.7-14.3-32-32-32s-32 14.3-32 32v24c8.8 0 16 7.2 16 16s-7.2 16-16 16H256c-8.8 0-16-7.2-16-16V424c0-29.8 20.4-54.9 48-62V304.9c-6-.6-12.1-.9-18.3-.9H178.3c-6.2 0-12.3 .3-18.3 .9v65.4c23.1 6.9 40 28.3 40 53.7c0 30.9-25.1 56-56 56s-56-25.1-56-56c0-25.4 16.9-46.8 40-53.7V311.2zM144 448a24 24 0 1 0 0-48 24 24 0 1 0 0 48z">
                  </path>
                </svg><span style="font-size: 15px !important; font-weight: 600 !important;">{{ 'DOCTORS' | translate
                  }}</span>

              </a>
            </div>


                     <div class="item shw one" routerLinkActive="active">
              <a [routerLink]="['/appointment-list']" (click)="updateVisitSection(VisitSectionType.Appointment)">
                <i class="fa-solid fa-calendar-days text-2xl" style="font-size: 20px;"></i>

                <span style="font-size: 15px !important; font-weight: 600 !important;">{{ 'MY_APPOINTMENTS' | translate
                  }}</span>
              </a>
            </div>


            <div class="item shw one" routerLinkActive="active">
              <a [routerLink]="['/complaint']">
                <i class="fa-solid fa-comment-dots text-2xl" style="font-size: 20px;"></i> <span
                  style="font-size: 15px !important; font-weight: 600 !important;">{{ 'COMPLAINTS_&_SUGGESTIONS' |
                  translate }}</span>
              </a>
            </div>

       <div class="item shw one" routerLinkActive="active">
              <a [routerLink]="['/monthly-satisfaction']">
    <i class="fa-solid fa-calendar-days text-2xl" style="font-size: 20px;"></i>
                 <span
                  style="font-size: 15px !important; font-weight: 600 !important;">{{ 'Monthly_Satisfaction' | translate }}
</span>
              </a>
            </div>




            <!-- <div class="item shw one" routerLinkActive="active">
              <a [routerLink]="['/connected-Devices']"
                >
                 <i class="fa-solid fa-calendar-days text-2xl" style="font-size: 20px;"></i>

                <span style="font-size: 15px !important; font-weight: 600 !important;">{{ 'DEVICES' | translate
                  }}</span>
              </a>
            </div> -->


            <!-- 
            <div class="item shw one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/satisfaction-form']">
                <i class="fas fa-thumbs-up" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;">{{ 'SATISFACTION_FORM' |
                  translate }}</span>
              </a>
            </div> -->


            <div class="item shw one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/medication-list']"
                (click)="updateVisitSection(VisitSectionType.Medication)">
                <i class="fas fa-pills" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'MEDICATION' | translate }}
                </span>
              </a>
            </div>

            <div class="item shw one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/request-list']"
                (click)="updateVisitSection(VisitSectionType.Request)">
                <i class="fas fa-user-plus" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'REQUEST' | translate }}
                </span>
              </a>
            </div>




            <div class="item shw one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/messages']">
                <i class="fas fa-comment-dots" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;"> {{ 'MESSAGES' | translate
                  }}</span>
              </a>
            </div>

            <!-- <div class="item shw one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/history-list']">
                <i class="fas fa-history" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;">{{ 'HISTORY' | translate
                  }}</span>
              </a>
            </div> -->

            <div class="item shw one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/Health-Tracker']"
                (click)="updateVisitSection(VisitSectionType.HealthTracking)">
                <i class="fas fa-heartbeat" style="font-size: 20px; margin-right: 5px;"></i> <!-- NEW icon -->
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'HEALTH_TRACKER' | translate }}
                </span>
              </a>
            </div>

            <div class="item shw one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/educational-Material']"
                (click)="updateVisitSection(VisitSectionType.EducationMaterial)">
                <i class="fas fa-book" style="font-size: 20px; margin-right: 5px;"></i> <!-- Book icon -->
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'PATIENT_EDUCATION'
                  | translate }}
                </span>
              </a>
            </div>



            <!-- <div class="item shw one" routerLinkActive="active">
              <a>
                <i class="fas fa-comments" style="font-size: 20px;"></i> 
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'CHAT' | translate }}
                </span>
              </a>
            </div>
            

            <div class="item shw one" routerLinkActive="active">
              <a>
                <i class="fas fa-map-marker-alt" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'LOCATION' | translate }}
                </span>
              </a>
            </div> -->


            <!-- <div class="item shw one" routerLinkActive="active">
              <a>
                <i class="fas fa-address-book" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'CONTACT_US' | translate }}
                </span>
              </a>
            </div>
             -->

            <div class="item shw one" routerLinkActive="active">
              <a [routerLink]="['/notification']">
                <i class="fa-solid fa-calendar-days text-2xl" style="font-size: 20px;"></i>

                <span style="font-size: 15px !important; font-weight: 600 !important;">{{ 'NOTIFICATION' | translate
                  }}</span>
              </a>
            </div>
<!-- 
            <div class="item one" routerLinkActive="active">
              <a [routerLink]="['/about-Us']">
                <i class="fas fa-users"></i> <span style="font-size: 15px !important; font-weight: 600 !important;">{{
                  'ABOUT_US' | translate }}</span>
              </a>
            </div> -->

          </div>
        </div>




      </div>


    </aside>


    <router-outlet></router-outlet>
  </section>
</div>



<!-- Doctor Layout -->



<div class="dashboard-outer" *ngIf="role == 'Doctor'">

  <div class="nav-header mobile-only"
    style="position: fixed; top: 0; left: 0; right: 0; z-index: 1000; background-color: #fff; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">

    <a class="brand-logo">
      <img class="logo-abbr" src="assets/images/logo-dashboard.png" alt="">
    </a>

    <ul class="headnav mr-auto xs-d-none">
      <li><a href="javascript:void(0)"></a></li>
    </ul>
    <ul class="header-profile">
      <li class="language-dropdown"
        [ngClass]="{'english-selected': currentLanguage === 'en', 'arabic-selected': currentLanguage === 'ar'}">
        <a href="javascript:void(0)" class="language-icon" id="languageDropdown" (click)="toggleProfileMenuMobile()">
          <img src="assets/images/profile-i.svg" class="img-responsive">
        </a>
        <ul class="dropdown-menu1 language-menu1" [ngClass]="{'show': isProfileMenuOpenMobile}">
          <li class="mb-2"><a class="dropdown-item " [routerLink]="['/doctor-profile']">{{ 'PROFILE' | translate }}</a>
          </li>
          <li><a class="dropdown-item" (click)="logout()">
              {{ 'LOGOUT' | translate }}</a></li>

        </ul>
      </li>


      <li class="language-dropdown"
        [ngClass]="{'english-selected': currentLanguage === 'en', 'arabic-selected': currentLanguage === 'ar'}">
        <a href="javascript:void(0)" class="language-icon" id="languageDropdown" (click)="toggleLanguageMenuMobile()">
          <img src="assets/images/language-icon.svg" class="img-responsive">
        </a>
        <ul class="dropdown-menu1 language-menu1" [ngClass]="{'show': isLanguageMenuOpenMobile}">
          <li class="mb-2">
            <a class="down" href="javascript:void(0)" (click)="switchLanguageDoctor('en')"
              [class.selected]="currentLanguage === 'en'"> {{
              'ENGLISH' | translate }}</a>
          </li>
          <li>
            <a class="down" href="javascript:void(0)" (click)="switchLanguageDoctor('ar')"
              [class.selected]="currentLanguage === 'ar'"> {{
              'ARABIC' | translate }}</a>
          </li>
        </ul>
      </li>

    </ul>

    <!-- <ul class="header-profile d-none xs-d-grid">
      <li><a class=""><img src="assets/images/notification-i.svg" class="img-responsive"></a></li>
      <li><a class=""><img src="assets/images/profile-i.svg" class="img-responsive"></a></li>
      <li><a  class="setting"><img src="assets/images/settings-i.svg" class="img-responsive"></a></li>
    </ul> -->
    <div class="nav-control">
      <div class="toggle-menu nav-toggle" (click)="toggleMenus()">
        <img src="assets/images/menu-i.svg">
      </div>
    </div>
  </div>
  <!--**********************************
    Nav header end
***********************************-->
  <header class="xs-d-none">
    <ul class="headnav mr-auto xs-d-none">
      <li><a href="javascript:void(0)"></a></li>
    </ul>
    <ul class="header-profile">
      <li class="language-dropdown"
        [ngClass]="{'english-selected': currentLanguage === 'en', 'arabic-selected': currentLanguage === 'ar'}">
        <a href="javascript:void(0)" class="language-icon" id="languageDropdown" (click)="toggleProfileMenuWeb()">
          <img src="assets/images/profile-i.svg" class="img-responsive">
        </a>
        <ul class="dropdown-menu1 language-menu1" [ngClass]="{'show': isProfileMenuOpenWeb}">
          <li class="mb-2"><a class="dropdown-item " [routerLink]="['/doctor-profile']">{{ 'PROFILE' | translate }}</a>
          </li>
          <li><a class="dropdown-item" (click)="logout()">
              {{ 'LOGOUT' | translate }}</a></li>

        </ul>
      </li>


      <li class="language-dropdown"
        [ngClass]="{'english-selected': currentLanguage === 'en', 'arabic-selected': currentLanguage === 'ar'}">
        <a href="javascript:void(0)" class="language-icon" id="languageDropdown" (click)="toggleLanguageMenuWeb()">
          <img src="assets/images/language-icon.svg" class="img-responsive">
        </a>
        <ul class="dropdown-menu1 language-menu1" [ngClass]="{'show': isLanguageMenuOpenWeb}">
          <li class="mb-2">
            <a class="down" href="javascript:void(0)" (click)="switchLanguageDoctor('en')"
              [class.selected]="currentLanguage === 'en'"> {{
              'ENGLISH' | translate }}</a>
          </li>
          <li>
            <a class="down" href="javascript:void(0)" (click)="switchLanguageDoctor('ar')"
              [class.selected]="currentLanguage === 'ar'"> {{
              'ARABIC' | translate }}</a>
          </li>
        </ul>
      </li>

    </ul>
  </header>

  <!-- ---- -->
  <!-- <section>
<aside class="side-bar" [ngClass]="{'sidebar-collapsed': isSidebarCollapsed}">
      <a class="aside-logo text-center"> -->

  <section>
    <aside class="side-bar" [ngClass]="{'show-sidebar': isSidebarCollapsed}">
      <a class="aside-logo text-center" [ngClass]="{'hide-logo': isSidebarCollapsed}">

        <img class="logo-abbr" src="assets/images/logo-dashboard.png" style="max-width: 120px; margin: auto;">
      </a>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="menu">
            <div class="item one">
              <a [routerLink]="['/doctor-dashboard']" routerLinkActive="active"
                (click)="updatedoctorVisitSection(VisitSectionType.Dashboard)"
                [routerLinkActiveOptions]="{exact:true}"><svg xmlns=" http://www.w3.org/2000/svg "
                  viewBox="0 0 576 512">
                  <path
                    d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z">
                  </path>
                </svg> <span style="font-size: 15px !important; font-weight: 600 !important;">{{ 'DASHBOARD' | translate
                  }}</span></a>
            </div>


            <div class="item shw one" routerLinkActive="active">
              <a [routerLink]="['/doctor-appointment']"
                (click)="updatedoctorVisitSection(VisitSectionType.Appointment)">
                <i class="fa-solid fa-calendar-days text-2xl" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'MY_APPOINTMENTS' | translate }}
                </span>
              </a>
            </div>



            <div class="item shw one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/doctor-patient']">
                <i class="fas fa-user-injured" style="font-size: 20px;"></i>
                <span style="font-size: 15px; font-weight: 600; ">{{ 'MY_PATIENT' | translate }}</span>
              </a>
            </div>

      <div class="item shw one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/doctor-reqst']"
                (click)="updateVisitSection(VisitSectionType.Request)">
                <i class="fas fa-user-plus" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'REQUEST' | translate }}
                </span>
              </a>
            </div>
                        <div class="item shw one" routerLinkActive="active">
              <a [routerLink]="['/doctor-complaint']">
                <i class="fa-solid fa-comment-dots text-2xl" style="font-size: 20px;"></i> <span
                  style="font-size: 15px !important; font-weight: 600 !important;">{{ 'COMPLAINTS_&_SUGGESTIONS' |
                  translate }}</span>
              </a>
            </div>

            <div class="item shw one" routerLinkActive="active">
              <a class="sub-btn" [routerLink]="['/doctor']"
                (click)="updatedoctorVisitSection(VisitSectionType.EducationMaterial)">
                <i class="fas fa-book" style="font-size: 20px; margin-right: 10px;"></i> <!-- Book icon -->
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'PATIENT_EDUCATION'
                  | translate }}
                </span>
              </a>
            </div>



            <div class="item shw one" routerLinkActive="active">
              <a [routerLink]="['/chat-list']">
                <i class="fas fa-comments" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'MESSAGE' | translate }}
                </span>
              </a>
            </div>

            <div class="item shw one" routerLinkActive="active">
              <a [routerLink]="['/notification']">
                <i class="fa-solid fa-calendar-days text-2xl" style="font-size: 20px;"></i>

                <span style="font-size: 15px !important; font-weight: 600 !important;">{{ 'NOTIFICATION' | translate
                  }}</span>
              </a>
            </div>
            <div class="item shw one" routerLinkActive="active">
              <a [routerLink]="['/doctor-profile']">
                <i class="fas fa-user-circle"></i>

                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'PROFILE' | translate }}
                </span>
              </a>
            </div>

<!-- 
            <div class="item one" routerLinkActive="active">
              <a [routerLink]="['/about-Us']">
                <i class="fas fa-users"></i> <span style="font-size: 15px !important; font-weight: 600 !important;">{{
                  'ABOUT_US' | translate }}</span>
              </a>
            </div> -->


            <div class="item shw one" routerLinkActive="active">
              <a [routerLink]="['/terms']">
                <i class="fas fa-address-book" style="font-size: 20px;"></i>
                <span style="font-size: 15px !important; font-weight: 600 !important;">
                  {{ 'TERMS_&_CONDITIONS' | translate }}
                </span>
              </a>
            </div>

          </div>
        </div>




      </div>


    </aside>


    <router-outlet></router-outlet>
  </section>
</div>