<div class="dashboard-outer">
    <section>
        <div class="content-body">
            <div class="container-fluid">
                <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 10px;">
                    <div class=" mx-auto p-4">
                        <div class="flex mb-3 items-center ml-1">

                            <h1 class="text-lg font-semibold" style="font-size: 25px; color: #726641;">
                                {{ 'VITAL_RECORDS' | translate }}
                            </h1>
                        </div>
                        <!-- Tab Buttons -->
                        <div class="button-container mb-3">
                            <button class="tab-button" [class.active]="activeTab === 'carrier'"
                                (click)="setActiveTab('carrier')">
                                {{ 'MEDICATION_RECORD' | translate }}
                            </button>
                            <button class="tab-button" [class.active]="activeTab === 'shipper'"
                                (click)="setActiveTab('shipper')">
                                {{ 'HEALTH_TRACKER' | translate }}
                            </button>
                            <button class="tab-button" [class.active]="activeTab === 'driver'"
                                (click)="setActiveTab('driver'); getPatientEducation()">
                                {{ 'EDUCATIONAL_MATERIAL' | translate }}
                            </button>
                            <button class="tab-button" [class.active]="activeTab === 'route'"
                                (click)="setActiveTab('route'); getDoctorVisit()">
                                {{ 'VISIT_RECORD' | translate }}
                            </button>
                        </div>

                        <div *ngIf="activeTab === 'carrier'" id="carrier" class="tab-detail">
                            <div class="num">
                                <!-- <div class="flex mb-2 items-center ml-1 mb-3">

                                    <h1 class="text-lg font-semibold" style="font-size: 25px; color: #726641;">
                                        Medication List
                                    </h1>
                                </div> -->
                                <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
                                    <div class="custom-container mx-auto">
                                        <div class="container p-0">
                                            <button
                                                class="appointment-btn   px-4 py-2  mb-3  text-white px-4 py-2 rounded-full sm:w-auto"
                                                [routerLink]="'/doctor-patient/doctor/medication/' + mrn">
                                                + {{ 'ADD_MEDICATION' | translate }}
                                            </button>
                                            <div class="table-container">
                                                <div class="table-responsive">
                                                    <table class="medication-table">
                                                        <thead>
                                                            <tr>
                                                                <th>{{ 'MEDICATION_NAME' | translate }}</th>
                                                                <th> {{ 'DOSAGE' | translate }}</th>
                                                                <th> {{ 'FREQUENCY' | translate }}</th>
                                                                <th>{{ 'INSTRUCTIONS' | translate }}</th>
                                                                <th> {{ 'CREATED_AT' | translate }}</th>
                                                                <th> {{ 'STATUS' | translate }}</th>
                                                                <th> {{ 'ACTION' | translate }}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of medicationList | paginate
                            : {
                                itemsPerPage: 6,
                                currentPage: page,
                                totalItems: totalItems,
                                id: '1'
                              }">
                                                                <td>{{ item.medicationName }}</td>
                                                                <td>{{ item.dosage }}</td>
                                                                <td>{{ item.frequency }}</td>
                                                                <td>
                                                                    {{
                                                                    item.instructions
                                                                    ? item.instructions.split(' ').slice(0, 3).join(' ')
                                                                    + (item.instructions.split(' ').length > 3 ? '...' :
                                                                    '')
                                                                    : 'N/A'
                                                                    }}
                                                                </td>

                                                                <td>{{ item.createdAt ? (item.createdAt |
                                                                    date:'dd-MM-yyyy') : 'N/A' }}
                                                                </td>
                                                                <td>
                                                                    <div class="form-check form-switch">
                                                                        <input class="form-check-input" type="checkbox"
                                                                            role="switch"
                                                                            [checked]="item.status === 'Active'"
                                                                            (change)="onCheckboxChange($event, item)" />

                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <!-- <a class="list-icon"><i class="fa fa-eye"
                                                            [routerLink]="['/doctor/educational-detail', item?.id]"
                                                            aria-hidden="true"></i></a>&nbsp; -->

                                                                    <a class="list-icon"
                                                                        [routerLink]="['/doctor-patient/doctor/medication/update', mrn, item?.medicationId]">
                                                                        <i class="fa fa-pencil"></i>
                                                                    </a>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>

                                                <div class="no-data text-center"
                                                    *ngIf="medicationList && medicationList.length === 0">
                                                    <img src="assets/images/ffffrq-removebg-preview.png"
                                                        style="width: 50%; margin: auto; padding: 50px;">
                                                </div>
                                                <div class="pagination-container pt-3 pb-3">
                                                    <pagination-controls
                                                        *ngIf="medicationList && medicationList.length > 0"
                                                        (pageChange)="onPageChange($event)" id="1"
                                                        class="paginate-doctor-list"
                                                        queryParamsHandling="merge"></pagination-controls>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                        <div *ngIf="activeTab === 'shipper'" id="shipper" class="tab-detail">
                            <div class="container mt-4">
                                <div class="row text-center">
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
                                        <a [routerLink]="['/doctor-patient/doctor-bloodPressure/' + mrn]"
                                            class="text-decoration-none text-dark">
                                            <div
                                                class="health-box p-3 shadow-sm rounded bg-white h-100 d-flex flex-column align-items-center justify-content-center">
                                                <i class="fa-solid fa-tint fa-2x mb-2" style="color: #83764C;"></i>
                                                <div>{{ 'BLOOD_PRESSURE' | translate }}</div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
                                        <a [routerLink]="['/doctor-patient/doctor-bloodSugar/' + mrn]"
                                            class="text-decoration-none text-dark">
                                            <div
                                                class="health-box p-3 shadow-sm rounded bg-white h-100 d-flex flex-column align-items-center justify-content-center">
                                                <i class="fa-solid fa-syringe fa-2x mb-2" style="color: #83764C;"></i>
                                                <div>{{ 'BLOOD_SUGAR' | translate }}</div>
                                            </div>
                                        </a>
                                    </div>



                                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
                                        <a [routerLink]="['/doctor-patient/doctor-HeartRate/' + mrn]"
                                            class="text-decoration-none text-dark">
                                            <div
                                                class="health-box p-3 shadow-sm rounded bg-white h-100 d-flex flex-column align-items-center justify-content-center">
                                                <i class="fa-solid fa-heartbeat fa-2x mb-2" style="color: #83764C;"></i>
                                                <div>{{ 'HEART_RATE' | translate }}</div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
                                        <a [routerLink]="['/doctor-patient/doctor-weight/' + mrn]"
                                            class="text-decoration-none text-dark">
                                            <div
                                                class="health-box p-3 shadow-sm rounded bg-white h-100 d-flex flex-column align-items-center justify-content-center">
                                                <i class="fa-solid fa-weight fa-2x mb-2" style="color: #83764C;"></i>
                                                <div>{{ 'WEIGHT' | translate }}</div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
                                        <a class="text-decoration-none text-dark">
                                            <div
                                                class="health-box p-3 shadow-sm rounded bg-white h-100 d-flex flex-column align-items-center justify-content-center">
                                                <i class="fa-solid fa-weight fa-2x mb-2" style="color: #83764C;"></i>
                                                <div>{{ 'LAB_RESULTS' | translate }}</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4">
                                        <a [routerLink]="['/doctor-patient/doctor-steps/' + mrn]"
                                            class="text-decoration-none text-dark">
                                            <div
                                                class="health-box p-3 shadow-sm rounded bg-white h-100 d-flex flex-column align-items-center justify-content-center">
                                                <i class="fa-solid fa-shoe-prints fa-2x mb-2"
                                                    style="color: #83764C;"></i>
                                                <div>{{ 'STEPS' | translate }}</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div *ngIf="activeTab === 'driver'" id="driver" class="tab-detail">
                            <div class="container p-0">
                                <!-- <button class="appointment-btn  text-white px-4 py-2  mb-3 rounded-full sm:w-auto"
                                    style="background-color: #83764C; font-weight: 600;">
                                    + Add Education
                                </button> -->
                                <div class="table-container">
                                    <div class="table-responsive">
                                        <table class="medication-table">
                                            <thead>
                                                <tr>
                                                    <th>{{ 'TITLE1' | translate }}</th>
                                                    <th>{{ 'DESCRIPTION1' | translate }}</th>
                                                    <th>{{ 'FILE_URL' | translate }}</th>
                                                    <th>{{ 'IS_APPROVED' | translate }}</th>
                                                    <th>{{ 'CREATED_AT' | translate }}</th>
                                                    <th>{{ 'ACTION' | translate }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of educationMaterial">
                                                    <td>{{ item.title }}</td>
                                                    <td>
                                                        {{
                                                        item.description.split(' ').slice(0, 3).join(' ')
                                                        }}{{ item.description.split(' ').length > 3 ? '...' : '' }}
                                                    </td>

                                                    <td>
                                                        <a [href]="'https://your-domain.com/' + item.contentUrl"
                                                            target="_blank">
                                                            {{ 'VIEW_PDF' | translate }}
                                                        </a>
                                                    </td>
                                                    <td>{{ item.isApproved }}</td>
                                                    <td>{{ item.createdAt ? (item.createdAt | date:'dd-MM-yyyy') : 'N/A'
                                                        }}</td>
                                                    <td>
                                                        <a class="list-icon"><i class="fa fa-eye"
                                                                aria-hidden="true"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                    <div class="no-data text-center"
                                        *ngIf="educationMaterial && educationMaterial.length === 0">
                                        <img src="assets/images/ffffrq-removebg-preview.png"
                                            style="width: 50%; margin: auto; padding: 50px;">
                                    </div>

                                    <div class="pagination-container pt-3 pb-3"
                                        *ngIf="educationMaterial && educationMaterial.length > 0">
                                        <pagination-controls (pageChange)="onPageChange($event)" id="1"
                                            class="paginate-doctor-list"
                                            queryParamsHandling="merge"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="activeTab === 'route'" id="route" class="tab-detail">
                            <div class="card-grid">

                                <!-- Card 1 -->
                                <div *ngFor="let visit of visitList" class="report-card">
                                    <div class="report-header">
                                        <img src="/assets/images/Photo2.jpg" alt="icon" />
                                        <span>{{ visit.departmentName }}</span>
                                    </div>

                                    <div class="report-details">
                                        <div>
                                            <span class="label">{{ 'VISIT_TYPE' | translate }} -</span>
                                            <span class="value">
                                                {{ visit.visitTypeDescription || 'N/A' }}
                                            </span>
                                        </div>
                                        <div>
                                            <span class="label">{{ 'CARE_PROVIDER' | translate }} -</span>
                                            <span class="value">
                                                {{ visit.careProviderName }} {{ visit.careProviderLastName }}
                                            </span>
                                        </div>
                                        <div>
                                            <span class="label">{{ 'EN_TYPE' | translate }} -</span>
                                            <span class="value">
                                                {{ visit.entypeValueDescription || 'N/A' }}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="button-wrapper d-flex justify-content-end">
                                        <!-- <div class="stars">
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div> -->
                                        <button class="view-button"
                                            [routerLink]="['/visit/report/' + visit.visitId + '/' + visit.patientUid + '/' + visit.patientVisitUId + '/' + visit.mrn]">
                                            {{ 'VIEW_REPORTS' | translate }}
                                        </button>

                                    </div>
                                </div>




                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>