<div class="dashboard-outer">

  <section>
    <div class="content-body">
      <div class="container-fluid">
        <div class="flex justify-between items-center mb-3 ml-1">
          <button class="flex items-center justify-center w-7 h-7 rounded-full mr-3 mb-2 text-white"
            style="background-color: #726641;" (click)="backClicked()">
            <i class="fas fa-arrow-left" style="font-size: 13px; text-align: center;"></i>
          </button>
          <h1 class="text-lg font-semibold" style="font-size: 25px; color: #726641;">Weight Tracking</h1>

          <!-- Book Appointment Button -->
          <button class="appointment-btn ml-auto bg-blue-500 text-white px-4 py-2 rounded-full" (click)="openModal()">
            + Weight Tracking
          </button>

        </div>
        <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
          <div class="custom-container max-w-5xl mx-auto p-3">
            <div class="container">
              <div class="table-container">
                <table>
                  <thead>
                    <tr>
                      <th>MRN</th>
                      <th>Weight</th>
                      <th>Notes</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="row-light" *ngFor="let item of weightList  | paginate
                                        : {
                                            itemsPerPage: 5,
                                            currentPage: page,
                                            totalItems: totalItems,
                                            id: '1'
                                          }">
                      <td>{{item.mrn || 'N/A' }}</td>
                      <td>{{item.weights || 'N/A' }}</td>
                      <td>
                        {{item.notes || 'N/A' }}
                      </td>
                      <td>
                        {{ item.createdat ? (item.createdat | date:'dd-MM-yyyy') : 'N/A' }}
                      </td>

                    </tr>

                  </tbody>
                </table>


                <div class="pagination-container">
                  <pagination-controls (pageChange)="onPageChange($event)" id="1" class="paginate-doctor-list"
                    queryParamsHandling="merge"></pagination-controls>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>



<!-- Modal Overlay -->
<div 
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50" 
  *ngIf="showModal" 
  (click)="closeModal()"
>
  <div 
    class="bg-white rounded-lg w-full max-w-md" 
    (click)="$event.stopPropagation()"
  >
    <form [formGroup]="form" (ngSubmit)="addRecord()">
      <div class="modal-header flex items-center justify-between">
        <div class="flex-1 text-center">
            <h5 class="modal-title text-xl font-semibold" id="bloodSugarModalLabel">Add Blood Sugar</h5>
        </div>
        <button 
          type="button" 
          class="btn-close ml-auto" 
          aria-label="Close" 
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="beatsPerMinute" class="form-label">Current Weight (kg)</label>
          <input type="text" formControlName="beatsPerMinute" class="form-control" id="beatsPerMinute" />
          <div *ngIf="form.get('beatsPerMinute')?.invalid && form.get('beatsPerMinute')?.touched" class="text-danger">
            Required field
          </div>
          <div class="flex justify-center">
            <button 
              type="submit"
              class="w-80 bg-yellow-700 text-white py-2 rounded-full hover:bg-yellow-800 mt-3"
              style="color: #fde092!important;">
              Save Weight
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
