<!-- visit-diagnose.component.html -->
<div class="dashboard-outer">
  <section>
    <div class="content-body">
      <div class="container-fluid">
        <div class="flex mb-4 items-center ml-1">
          <button class="flex items-center justify-center w-8 h-8 rounded-full text-white"
                  style="background-color: #726641;" (click)="backClicked()">
            <i class="fas fa-arrow-left text-xs text-center"></i>
          </button>
          <h1 class="text-lg font-semibold ml-2" style="font-size: 25px; color: #726641;">
            {{ 'LAB_RESULTS' | translate }}
          </h1>
        </div>

        <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 10px;">
          <div class="mx-auto">
            <form class="px-4 mt-2 mb-3">
              <div class="row g-2">

                <!-- Tab Buttons -->
                <div class="button-container mb-3">
                  <button type="button" class="tab-button"
                          [ngClass]="{ 'active': selectedTab === 'report' }"
                          (click)="setTab('report')">Report</button>

                  <button type="button" class="tab-button"
                          [ngClass]="{ 'active': selectedTab === 'diagnoses' }"
                          (click)="setTab('diagnoses')">Diagnoses</button>
                </div>

                <!-- Report Tab -->
                <div class="tab-detail mb-3" *ngIf="selectedTab === 'report'">
                  <button type="button" class="pdf-link" (click)="lab(patientData)">
                    <i class="fas fa-file-pdf"></i> {{ 'VIEW_LAB_REPORT' | translate }}
                  </button>&nbsp;

                  <button type="button" class="pdf-link" (click)="ris(patientData)">
                    <i class="fas fa-file-pdf"></i> {{ 'VIEW_RIS_REPORT' | translate }}
                  </button>
                </div>

                <!-- Diagnoses Tab -->
                <div class="tab-detail mb-3" *ngIf="selectedTab === 'diagnoses'">
                  <div class="row">
                    <div class="col-4 card">Dummy Report Card 1</div>
                    <div class="col-4 card">Dummy Report Card 2</div>
                    <div class="col-4 card">Dummy Report Card 3</div>
                  </div>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
