<div class="dashboard-outer">

    <section>
        <div class="content-body">
            <div class="container-fluid">
                <div [dir]="isArabic ? 'rtl' : 'ltr'" class="flex items-center mb-3 ml-1 justify-between flex-wrap">
                    <div class="flex items-center w-full sm:w-auto mb-2">
                        <button
                            class="back-btn-left-circle flex items-center justify-center w-7 h-7 rounded-full text-white mr-2 ml-2 mt-2"
                            [routerLink]="['/Health-Tracker']">
                            <i class="fas fa-arrow-left" style="font-size: 13px; text-align: center; color: black;"></i>

                        </button>
                        <h1 class="text-lg font-semibold ml-2 text-center sm:text-left"
                            style="font-size: 25px; color: #726641;">
                            {{ 'HEART_RATE' | translate }}
                        </h1>
                        <div class="status-box ml-3" *ngIf="statusMessage.deviceStatus">
                            <strong>{{ 'DEVICE_STATUS' | translate }}:</strong>  <span class="date">{{statusMessage?.message}}</span>

                        </div>

                    </div>

                    <button
                        class="appointment-btn bg-blue-500 text-white px-4 py-2 rounded-full w-full sm:w-auto mt-2 sm:mt-0"
                        (click)="openModal()">
                        + {{ 'HEART_RATE' | translate }}
                    </button>
                </div>



                <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
                    <div class="custom-container  mx-auto p-3">
                        <div class="container">
                            <div class="table-container">
                                <div class="overflow-x-auto">
                                    <table class="min-w-full table-auto">
                                        <thead>
                                            <tr>

                                                <th class="px-4 py-2 text-sm md:text-base">{{ 'MRN' | translate }}</th>
                                                <th class="px-4 py-2 text-sm md:text-base">{{ 'BEATS_PER_MINUTE' |
                                                    translate }}</th>
                                                <th class="px-4 py-2 text-sm md:text-base">{{ 'NOTES' | translate }}
                                                </th>
                                                <th class="px-4 py-2 text-sm md:text-base"> {{ 'DATE' | translate }}
                                                </th>
                                                <th>{{ 'STATUS' | translate}}</th>
                                                <th class="px-4 py-2 text-sm md:text-base">{{'IMAGE' | translate}}</th>

                                                <th>{{'ACTION' | translate}}</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="row-light" *ngFor="let item of heartRateList | paginate
                                                                        : {
                                                                            itemsPerPage: 5,
                                                                            currentPage: page,
                                                                            totalItems: totalItems,
                                                                            id: '1'
                                                                          }">

                                                <td class="px-4 py-2 text-sm md:text-base">{{item.mrn || '--' }}</td>
                                                <td class="px-4 py-2 text-sm md:text-base">{{item.beatsPerMinute ||
                                                    'N/A' }}</td>
                                                <td class="px-4 py-2 text-sm md:text-base">{{item.notes || '--' }}</td>
                                              <td class="px-4 py-2 text-sm md:text-base">
  {{ convertToLocalTime(item.createdAt) }}
</td>


                                                <td [ngStyle]="{ 'color': getStatusColor(item.statusId) }">
                                                    {{ item.status }}
                                                </td>
                                                <td>
                                                    <a style="color: blue; text-decoration: underline;"
                                                        *ngIf="item.image; else noImage"
                                                        (click)="openImagePreview(rootUrl + item.image)">{{ 'VIEW' | translate }}</a>
                                                    <!-- <img *ngIf="item.image; else noImage"
       [src]="rootUrl + item.image"
       alt="Image"
       (click)="openImagePreview(rootUrl + item.image)"
       class="w-12 h-12 object-cover rounded border border-gray-300 cursor-pointer hover:opacity-80" /> -->
                                                    <ng-template #noImage>N/A</ng-template>
                                                    <!-- Image Preview Modal -->
                                                    <div *ngIf="previewImageUrl"
                                                        class="fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center z-50">
                                                        <div class="relative bg-white p-4 rounded-lg shadow-lg">
                                                            <button (click)="closeImagePreview()"
                                                                class="absolute top-2 right-2 text-gray-700 text-xl">&times;</button>
                                                            <img [src]="previewImageUrl" alt="Preview"
                                                                class="max-w-[90vw] max-h-[80vh] rounded border border-gray-300" />
                                                        </div>
                                                    </div>

                                                </td>
                                                <td (click)="openModals(item.id)">
                                                    <i class="fa fa-pencil" style="cursor: pointer;"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="no-data text-center" *ngIf="heartRateList && heartRateList.length === 0">
                                    <img src="assets/images/ffffrq-removebg-preview.png"
                                        style="width: 50%; margin: auto; padding: 50px;">
                                </div>

                                <div class="pagination-container pt-3 pb-3">
                                    <pagination-controls *ngIf="heartRateList && heartRateList.length > 0"
                                        (pageChange)="onPageChange($event)" id="1" class="paginate-doctor-list"
                                        queryParamsHandling="merge"
                                           [previousLabel]="'PREVIOUS' | translate"
    [nextLabel]="'NEXT' | translate">></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<!-- Heart Rate Modal -->
<div class="modal fade" id="heartRateModal" tabindex="-1" aria-labelledby="heartRateModalLabel" aria-hidden="true"
    #heartRateModal>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="width: 95%; margin: auto;">
            <form [formGroup]="form" (ngSubmit)="addRecord()">
                <div class="modal-header flex items-center justify-between">
                    <div class="flex-1 text-center">
                        <h5 class="modal-title text-xl font-semibold" id="bloodSugarModalLabel"> {{ 'HEART_RATE' |
                            translate }}</h5>
                    </div>
                    <button type="button" class="btn-close ml-auto" data-bs-dismiss="modal" aria-label="Close"
                        (click)="closeModal()"></button>
                </div>
                <div class="modal-body">
                    <div class="esc mb-3">
                        <label class="block text-sm font-semibold mb-3">{{ 'UPLOAD_FILE' | translate }}</label>
                        <input type="file" id="fileInput" #fileInputRef accept="image/*" (change)="onFileChange($event)"
                            class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4
                   file:rounded-full file:border-0 file:text-sm file:font-semibold
                   file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100" />
                        <a *ngIf="imagePreview" (click)="openPreview()"
                            class="text-blue-600 underline cursor-pointer text-sm mt-1 inline-block">
                          {{ 'PREVIEW_IMAGE' | translate }}
                        </a>
                    </div>

                    <!-- Image Preview Modal -->
                    <div *ngIf="showPopup" class="fixed inset-0  bg-opacity-60 flex items-center justify-center z-50">
                        <div class="bg-white p-4 rounded shadow-lg relative">
                            <button (click)="closePreview()"
                                class="absolute top-2 right-2 text-xl text-gray-600">&times;</button>
                            <img [src]="imagePreview" alt="Full Preview" class="max-w-[90vw] max-h-[80vh] rounded" />
                        </div>
                    </div>



                    <div class="mb-3">
                        <label for="beatsPerMinute" class="form-label">{{ 'BPM' | translate }} ({{ 'BEATS_PER_MINUTE' |
                            translate }})</label>
                        <input type="text" formControlName="beatsPerMinute" class="form-control text-start"
                            id="beatsPerMinute" placeholder="{{ 'ENTER_BEATS_PER_MINUTE' | translate }}"
                            style="text-align: left;" />


                        <div class="flex justify-center">
                            <button type="submit"
                                class="w-80 bg-yellow-700 text-white py-2 rounded-full hover:bg-yellow-800 mt-3"
                                style="color: #ffffff!important;">
                                {{ 'SAVE_HEART_RATE' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>