<div class="dashboard-outer">

    <section>
        <div class="content-body">
            <div class="container-fluid">
                <div class="flex justify-between items-center mb-3 ml-1">
                    <button class="flex items-center justify-center w-7 h-7 rounded-full mr-3 mb-2 text-white"
                        style="background-color: #726641;" (click)="backClicked()">
                        <i class="fas fa-arrow-left" style="font-size: 13px; text-align: center;"></i>
                    </button>
                    <h1 class="text-lg font-semibold" style="font-size: 25px; color: #726641;">Heart Rate</h1>

                    <!-- Book Appointment Button -->
                    <button
                    class="appointment-btn ml-auto bg-blue-500 text-white px-4 py-2 rounded-full"
                    data-bs-toggle="modal"
                    data-bs-target="#heartRateModal">
                    + Heart Rate
                  </button>
                  
                </div>
                <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
                    <div class="custom-container max-w-5xl mx-auto p-3">
                        <div class="container">
                            <div class="table-container">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>MRN</th>
                                            <th>Beats&nbsp;Per&nbsp;Minute</th>
                                            <th>Notes</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="row-light" *ngFor="let item of heartRateList  | paginate
                                        : {
                                            itemsPerPage: 5,
                                            currentPage: page,
                                            totalItems: totalItems,
                                            id: '1'
                                          }">
                                            <td>{{item.mrn || 'N/A' }}</td>
                                            <td>{{item.beatsPerMinute || 'N/A' }}</td>
                                            <td>
                                                {{item.notes || 'N/A' }}
                                            </td>
                                            <td>
                                                {{ item.createdAt ? (item.createdAt | date:'dd-MM-yyyy') : 'N/A' }}
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>


                                <div class="pagination-container">
                                    <pagination-controls (pageChange)="onPageChange($event)" id="1"
                                        class="paginate-doctor-list" queryParamsHandling="merge"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<!-- Heart Rate Modal -->
<div class="modal fade" id="heartRateModal" tabindex="-1" aria-labelledby="heartRateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="form" (ngSubmit)="addRecord()">
          <div class="modal-header">
            <h5 class="modal-title" id="heartRateModalLabel">Add Heart Rate</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
  
          <div class="modal-body">
            <div class="mb-3">
              <label for="beatsPerMinute" class="form-label">Beats Per Minute</label>
              <input type="number" formControlName="beatsPerMinute" class="form-control" id="beatsPerMinute" />
              <div *ngIf="form.get('beatsPerMinute')?.invalid && form.get('beatsPerMinute')?.touched" class="text-danger">
                Required field
              </div>
            </div>
            <div class="mb-3 d-none">
              <label for="notes" class="form-label">Notes</label>
              <textarea formControlName="notes" class="form-control" id="notes"></textarea>
            </div>
          </div>
  
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>