<div class="dashboard-outer">
  <section>
    <div class="content-body">
      <div class="container-fluid">
        <div class="flex mb-2 items-center ml-1">
          <!-- Back Arrow Button -->
          <button class="flex items-center justify-center w-7 h-7 rounded-full mr-3 text-white" style="background-color: #726641;" (click)="backClicked()">
            <i class="fas fa-arrow-left" style="font-size: 13px; text-align: center;"></i>
          </button>

          <!-- Title Text -->
          <h1 class="text-lg font-semibold" style="font-size: 25px; color: #726641;">{{ 'FIND_A_DOCTOR' | translate }}</h1>
          <div></div> <!-- Placeholder for spacing -->
        </div>
        
        <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 10px;">
          <div class="max-w-5xl mx-auto p-3">
            <!-- Header -->
            <div class="flex justify-between items-center mb-4">
              <div class="flex items-center border border-goldenlight px-3 py-1 ml-3 rounded-full shadow-sm focus-within:ring">
                <input
                  type="text"
                  placeholder="{{ 'FIND_A_DOCTOR' | translate }}"
                  [(ngModel)]="searchTerm"
                  class="flex-grow focus:outline-none"
                  style="background-color: #F9FAFB!important;"
                />
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 cursor-pointer" viewBox="0 0 20 20" fill="currentColor" style="color: #FEC34F;">
                  <path fill-rule="evenodd" d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-.293.707L13 10.414V15a1 1 0 01-1.447.894l-2-1A1 1 0 019 14v-3.586L3.293 6.707A1 1 0 013 6V4z" clip-rule="evenodd" />
                </svg>
              </div>
            </div>

            <div class="container mt-4">
              <div class="row" *ngFor="let item of filteredDoctorList | paginate : { itemsPerPage: 6, currentPage: page, totalItems: totalItems, id: '1' }">
                <!-- Card 1 -->
                <div class="col-12 col-sm-6 col-md-4 mb-4 p-0">
                  <div class="card d-flex flex-row align-items-center p-2 shadow-sm rounded">
                    <img src="assets/images/logo-dashboard.png" alt="Doctor" class="img-fluid  me-3" style="width: 47%; height: 70px;">
                    <div class="w-100" style="text-align: end;">
                      <h6 class="mb-3 mt-1 fw-bold" style="font-size: 14px;">{{item.title}} {{item.printName}}</h6>
                      <p class="mb-2 text-muted small" *ngFor="let dept of item.departments">
                        - {{ dept }}
                      </p>

                      <div class="flex justify-end">
                        <button class="btn btn-sm rounded-pill px-3 bg-yellow-700 hover:bg-yellow-800 text-white"(click)="edit(item)">
                        {{ 'BOOK_APPOINTMENT' | translate }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="pagination-container">
                <pagination-controls (pageChange)="onPageChange($event)" id="1" class="paginate-doctor-list" queryParamsHandling="merge"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
