<section>
    <div class="content-body">
        <div class="container-fluid">
            <div class="input-form">
                <div class="row justify-content-start align-items-start g-0">
                    <div class=" col-md-12">
                        <div class="card-shipper">
                            <div class="back-btn-left-circle mt-1">
                                <i class="fi fi-rr-arrow-small-left" (click)="backClicked()"
                                    style="color:#726641; padding-top: 7px; font-size: 13px;"></i>
                            </div>
                            <div>
                                <p><span class="black-home">{{ 'MEDICATION_DETAIL' | translate }}</span></p>
                            </div>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex align-items-center">
                                <p class="col-5">{{ 'MRN' | translate}}</p>
                                <p class="col-2 text-center"><i class="fa fa-chevron-circle-right"></i></p>
                                <p class="col-5"><label class="address-texts">{{ detail?.mrn || 'N/A' }}</label></p>
                            </li>

                            <li class="list-group-item d-flex align-items-center">
                                <p class="col-5">{{ 'PATIENT_NAME' | translate }}</p>
                                <p class="col-2 text-center"><i class="fa fa-chevron-circle-right"></i></p>
                                <p class="col-5"><label class="address-texts">{{ detail?.patientName || 'N/A' }}
                                      </label></p>
                            </li>


                            <li class="list-group-item d-flex align-items-center">
                                <p class="col-5">{{ 'CARE_PROVIDER_CODE' | translate }}</p>
                                <p class="col-2 text-center"><i class="fa fa-chevron-circle-right"></i></p>
                                <p class="col-5"><label class="address-texts">{{ detail?.careProviderCode || 'N/A'
                                        }}</label></p>
                            </li>
                            
                            <li class="list-group-item d-flex align-items-center">
                                <p class="col-5">{{ 'DOCTOR_NAME' | translate }}</p>
                                <p class="col-2 text-center"><i class="fa fa-chevron-circle-right"></i></p>
                                <p class="col-5"><label class="address-texts">{{ detail?.doctorName || 'N/A'
                                        }}</label></p>
                            </li>

                              <li class="list-group-item d-flex align-items-center">
                                <p class="col-5">{{ 'MEDICATION_NAME' | translate }}</p>
                                <p class="col-2 text-center"><i class="fa fa-chevron-circle-right"></i></p>
                                <p class="col-5"><label class="address-texts">{{ detail?.medicationName || 'N/A'
                                        }}</label></p>
                            </li>

                            <li class="list-group-item d-flex align-items-center">
                                <p class="col-5">{{ 'FREQUENCY' | translate }}</p>
                                <p class="col-2 text-center"><i class="fa fa-chevron-circle-right"></i></p>
                                <p class="col-5"><label class="address-texts">{{ detail?.frequency || 'N/A'
                                        }}</label></p>
                            </li>

                            
                            <li class="list-group-item d-flex align-items-center">
                                <p class="col-5">{{ 'INTRUCTIONS' | translate }}</p>
                                <p class="col-2 text-center"><i class="fa fa-chevron-circle-right"></i></p>
                                <p class="col-5"><label class="address-texts">{{ detail?.instructions || 'N/A'
                                        }}</label></p>
                            </li>

                            <li class="list-group-item d-flex align-items-center">
                                <p class="col-5">{{ 'START_DATE' | translate }}</p>
                                <p class="col-2 text-center"><i class="fa fa-chevron-circle-right"></i></p>
                                <p class="col-5">
                                    <label class="address-texts">
                                        {{ detail?.startDate ? (detail.startDate | date: 'dd-MM-yyyy') : 'N/A' }}
                                    </label>
                                </p>
                            </li>


                          
                            <li class="list-group-item d-flex align-items-center">
                                <p class="col-5">{{ 'END_DATE' | translate }}</p>
                                <p class="col-2 text-center"><i class="fa fa-chevron-circle-right"></i></p>
                                <p class="col-5">
                                    <label class="address-texts">
                                        {{ detail?.endDate ? (detail.endDate | date: 'dd-MM-yyyy') : 'N/A' }}
                                    </label>
                                </p>
                            </li>
                            <li class="list-group-item d-flex align-items-center">
                                <p class="col-5">{{ 'STATUS' | translate }}</p>
                                <p class="col-2 text-center"><i class="fa fa-chevron-circle-right"></i></p>
                                <p class="col-5"> {{ detail?.status || 'N/A' }}</p>
                            </li>

                            <li class="list-group-item d-flex align-items-center">
                                <p class="col-5">{{ 'DATE' | translate }}</p>
                                <p class="col-2 text-center"><i class="fa fa-chevron-circle-right"></i></p>
                                <p class="col-5"><label class="address-texts"> {{ detail.createdAt ?
                                        (detail.createdAt | date:'dd-MM-yyyy') : 'N/A' }}</label></p>
                            </li>




                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>