<div class="dashboard-outer">

    <section>
        <div class="content-body">
            <div class="container-fluid">
                <div class="flex mb-2 items-center ml-1">
                    <!-- Back Arrow Button -->
                    <!-- <button class="flex items-center justify-center w-7 h-7 rounded-full mr-3 mb-2 text-white"
                        style="background-color: #726641;">
                        <i class="fas fa-arrow-left" style="font-size: 13px; text-align: center;"></i>
                    </button> -->
                    <h1 class="text-lg font-semibold" style="font-size: 25px; color: #726641;">Complaint List</h1>
                </div>
                <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
                    <div class="custom-container max-w-5xl mx-auto p-3">
                        <div class="container">
                            <!-- <div class="row">

                                <div class="col-md-4 mb-4">
                                    <div class="card p-2 shadow-sm rounded">
                                        <h6 class="mb-1 mt-1 fw-bold" style="font-size: 14px;">Rudeness or Lack of Compassion 
                                        </h6>
                                        <p class="mb-2 text-muted small">
                                            Gghghh 
                                        </p>
                                        <div class="flex flex-col items-end space-y-2">
                                            <button class="status-btn pending">Pending</button>
                                            <button class="status-btn-top pending-top">Resolved</button>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="card p-2 shadow-sm rounded">
                                        <h6 class="mb-1 mt-1 fw-bold" style="font-size: 14px;">Rudeness or Lack of Compassion 
                                        </h6>
                                        <p class="mb-2 text-muted small">
                                            Gghghh 
                                        </p>
                                        <div class="flex flex-col items-end space-y-2">
                                            <button class="status-btn-top pending-top">Resolved</button>
                                            <button class="status-btn pending">Pending</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="card p-2 shadow-sm rounded">
                                        <h6 class="mb-1 mt-1 fw-bold" style="font-size: 14px;">Rudeness or Lack of Compassion 
                                        </h6>
                                        <p class="mb-2 text-muted small">
                                            Gghghh 
                                        </p>
                                        <div class="flex flex-col items-end space-y-2">
                                            <button class="status-btn pending">Pending</button>
                                            <button class="status-btn-top pending-top">Resolved</button>

                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <div class="table-container">
                                <table>
                                  <thead>
                                    <tr>
                                      <th>Patient Name</th>
                                      <th>Complaint Type Name</th>
                                      <th>Date</th>
                                      <th>Status</th>
                                     
                                      <th>Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr class="row-light">
                                      <td>KHADIJAH ABDULAZIZ</td>
                                      <td>Rudeness or Lack of Compassion</td>
                                      <td>12-06-2025</td>
                                      <td>
                                        <select>
                                          <option>Pending</option>
                                          <option>Resolved</option>
                                        </select>
                                      </td>
                                     
                                      <td><i class="fa fa-eye"></i></td>

                                    </tr>
                                    <tr class="row-dark">
                                      <td>KHADIJAH ABDULAZIZ</td>
                                      <td>Rudeness or Lack of Compassion</td>
                                      <td>14-06-2025</td>
                                      <td>
                                        <select>
                                          <option>Pending</option>
                                          <option selected>Resolved</option>
                                        </select>
                                      </td>
                                     
                                      <td><i class="fa fa-eye"></i></td>

                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>