.login-forms {
    position: relative; 
  }
  
  .login-forms input[type=text] {
    height: 50px;
    margin-bottom: 25px;
    border-radius: 10px;
    padding: 0px 20px;
    font-size: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px -4px 4px -1px;
  }
  
  .eye-icon {
    position: absolute; 
    right: 20px; 
    top: 38%; 
    transform: translateY(-50%); 
    cursor: pointer; 
  }

/* Override for RTL */
html[dir="rtl"] .eye-icon {
    right: auto;
    left: 10px;
}
.eye-icon-ltr {
  position: absolute;
  right: 10px;
  cursor: pointer; 
  top: 38%; 
  transform: translateY(-50%);
}

.eye-icon-rtl {
  position: absolute;
  left: 10px;
  top: 38%; 
  cursor: pointer; 
  transform: translateY(-50%);
}