<div class="login-wrapper position-relative z-index-9"
  style="background:url(./assets/images/plusbg.png)no-repeat left 0px center;background-size: 600px !important;">

  <div class="container justify-content-center">
    <div class="login-perents d-grid column-two">
      <div class="login-child text-center">
        <img src="assets/images/anfas-logo.svg" class="img-responsive m-auto d-block" style="max-width: 130px;">
        <div class="mt-20 logtchilda">
          <span (click)="switchLanguage('ar')" style="cursor: pointer;">أنفاس</span>

          <h3 (click)="switchLanguage('en')" style="text-transform: uppercase; color: #FEC24F; cursor: pointer;">
            anfas</h3>
          <p>{{ 'YOUR_PATH_TO_WELLNESS_STARTS_HERE' | translate }}</p>
        </div>e
      </div>

      <div class="plus position-relative"
        style="background: #FEC34F; height: 100vh; display: grid; align-items: center; ">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="login-forms">
            <h2 style="color: #77734E; margin-bottom: 30px; font-size: 30px; font-weight: 600;">{{ 'WELCOME_BACK' |
              translate }}!</h2>
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <h6 style="font-size: 20px; margin: 0;">{{ 'PATIENT_SIGN_IN' | translate }}</h6>
              <div class="lang-container">
                <div class="lang-toggle">
                  <div class="lang-option" [class.active]="currentLang === 'en'" (click)="switchLanguage('en')">
                    {{ 'EN' | translate }}
                  </div>
                  <div class="lang-option" [class.active]="currentLang === 'ar'" (click)="switchLanguage('ar')">
                    {{ 'AR' | translate }}
                  </div>
                </div>
              </div>

            </div>

            <!-- <div class="mt-20"></div> -->
            <!-- <input type="email" class="form-control user" placeholder="Email or Phone"
                            formControlName="email"> -->
            <div class="form-group">
              <select id="mrNumber" class="form-control custom-select-align-end" (change)="onSelectChange($event)">
                <option value="" disabled selected>{{ 'SELECT' | translate }}</option>
                <option value="mrn">{{ 'MR_NUMBER' | translate }}</option>
                <option value="mobilePhone">{{ 'PHONE_NUMBER' | translate }}</option>
                <option value="nationalId">{{ 'NATIONAL_ID' | translate }}</option>
              </select>
            </div>


            <div class="d-flex position-relative mb-10" *ngIf="selectedField === 'mrn'">
              <input class="form-control password" placeholder="{{ 'ENTER_MR_NUMBER' | translate }}"
                formControlName="mrn" [ngClass]="{ 'is-invalid': submitted && f['mrn'].errors }">
              <div class="eye-icon"
                [ngClass]="{'eye-icon-rtl': currentLanguage === 'ar', 'eye-icon-ltr': currentLanguage !== 'ar'}">
                <!-- Use fa-eye-slash by default (hidden), fa-eye when password is visible -->
                <!-- <i class="fa" [ngClass]="password ? 'fa-eye' : 'fa-eye-slash'" aria-hidden="true"></i> -->
              </div>
            </div>

            <div class="d-flex position-relative mb-10" *ngIf="selectedField === 'mobilePhone'">
              <input class="form-control password" placeholder="{{ 'ENTER_PHONE_NUMBER' | translate }}"
                formControlName="mobilePhone" [ngClass]="{ 'is-invalid': submitted && f['mobilePhone'].errors }">
              <div class="eye-icon"
                [ngClass]="{'eye-icon-rtl': currentLanguage === 'ar', 'eye-icon-ltr': currentLanguage !== 'ar'}">
                <!-- Use fa-eye-slash by default (hidden), fa-eye when password is visible -->
                <!-- <i class="fa" [ngClass]="password ? 'fa-eye' : 'fa-eye-slash'" aria-hidden="true"></i> -->
              </div>
            </div>

            <div class="d-flex position-relative mb-10" *ngIf="selectedField === 'nationalId'">
              <input class="form-control password" placeholder="{{ 'ENTER_NATIONAL_ID' | translate }}"
                formControlName="nationalId" [ngClass]="{ 'is-invalid': submitted && f['nationalId'].errors }">
              <div class="eye-icon"
                [ngClass]="{'eye-icon-rtl': currentLanguage === 'ar', 'eye-icon-ltr': currentLanguage !== 'ar'}">
                <!-- Use fa-eye-slash by default (hidden), fa-eye when password is visible -->
                <!-- <i class="fa" [ngClass]="password ? 'fa-eye' : 'fa-eye-slash'" aria-hidden="true"></i> -->
              </div>
            </div>

            <div *ngIf="submitted && f['mrn'].errors" class="help-block" style="color: red;">
              <div *ngIf="f['mrn'].errors['required']"> {{ 'Please enter correct value' | translate }}
              </div>
            </div>


            <!-- <div class="remember-me">
                            <div class="checkbox"><input type="checkbox" class="checkbox">
                                <span>{{ 'REMEMBER_ME' | translate }}</span></div>
                            <div><a [routerLink]="['/forgot-password']">{{ 'FORGOT_PASSWORD' | translate }}</a></div>
                        </div> -->
            <!-- <div class="mt-20"></div> -->

            <input type="submit" class="view-more" value="{{ 'SIGN_IN' | translate }}">
            <div class="view-more-top w-100" style="margin-top: 10px; text-align: end;">
              <button [routerLink]="'/doctor-login'" class="doctor-btn"
                style="background: none; border: none; color: #007AFF; text-decoration: underline; cursor: pointer; padding: 0;">
                <span>{{ 'SIGN_IN_AS_A_DOCTOR' | translate }}</span>
              </button>
            </div>


          </div>
        </form>
      </div>
    </div>
  </div>
</div>