.btn.gold-btn {
    background-color: #fbcb6bfc; 
    color: #000; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}
.color{
    background-color:  #fee19a !important;
}
.table a{
    background-color: #F3F3F3;
}