<div class="login-wrapper position-relative z-index-9"
    style="background:url(./assets/images/plusbg.png)no-repeat left 0px center;background-size: 600px !important;">

    <div class="container justify-content-center">
        <div class="login-perents d-grid column-two">
          <div class="login-child text-center">
            <img src="./assets/images/Photologin.png" class="responsive-img">
      
                <!-- <div class="mt-20 logtchilda">
                <span style="cursor: pointer;">أنفاس</span>
             
                <h3 style="text-transform: uppercase; color: #FEC24F; cursor: pointer;">
                    anfas</h3>
                <p>{{ 'YOUR_PATH_TO_WELLNESS_STARTS_HERE' | translate }}</p>
            </div> -->
        </div>       
                   
            <div class="plus position-relative"
                style="background: #FEC34F; height: 100vh; display: grid; align-items: center; ">
                <form>
                    <div class="login-forms">
                      <div class="flex justify-center space-x-2 mt-6">
                        <ng-otp-input
                          [config]="otpConfig"
                          (onInputChange)="onOtpChange($event)">
                        </ng-otp-input>
                      </div>
                  
                      <!-- Error Message -->
                      <div *ngIf="error" class="text-red-600 mt-2 text-center">
                        {{ error }}
                      </div>
                  
                      <button 
                        class="mt-6 w-full bg-yellow-700 hover:bg-yellow-800 text-white py-2 rounded-full font-medium"
                        type="button"
                        (click)="verifyOtp()">
                        {{ 'VERIFY' | translate }}
                      </button>
                    </div>
                  </form>
                  
            </div>
        </div>
    </div>
</div>
