<div class="app-main__inner">
    <div class="user-header">
        <img (click)="backClicked()" src="" class="backimage-butn" />
        <h3>Edit Lab Services</h3>
    </div>
    <section class="address-info-form">
        <form>
            <div class="form-group">
                <label for="inputAddress">Lab Service</label>
                <div class="imges-upload mb-0">
                    <div class="imgUp m-auto">
                        <div class="imagePreview"></div>
                        <label class="btn btn-primary">
                            Upload<input type="file" class="uploadFile img" value="Upload Photo" />
                        </label>
                    </div>
                    <br />
                    <br />
                </div>
                <textarea class="form-control" formControlName="description"></textarea>
            </div>
            <div class="form-group">
                <label for="inputAddress">Contact Info</label>
                <div class="imges-upload mb-0">
                    <div class="imgUp imgUp-1 m-auto">
                        <div class="imagePreview"></div>
                        <label class="btn btn-primary">
                            Upload<input type="file" class="uploadFile img" value="Upload Photo" />
                        </label>
                    </div>
                </div>
                <br />
                <br />
                <input type="text" formControlName="contactName" class="form-control" placeholder="Contact Name" />
                <br />
                <br />
                <textarea class="form-control" formControlName="contactDescription"></textarea>
            </div>
            <div class="form-group">
                <label for="inputAddress">Service Include</label>
                <table class="table">
                    <tbody formArrayName="serviceFeatures">
                        <tr>
                            <td class="p-0"><i class="fa fa-circle y"></i></td>
                            <td>
                                <input type="text" class="form-control col-sm-12"
                                    formControlName="featureDescription" />
                                <input type="hidden" formControlName="servicesFeatureId" />
                            </td>
                            <td>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="info-per-btn">
                    <button type="submit" class="save-btn">Update</button>
                    <button class="cancel-btn">Cancel</button>
                </div>
            </div>
        </form>
    </section>
</div>