
  


  .table-container {

    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead tr {
    background-color: #fde092;
    text-align: left;
  }
  
  th, td {
    padding: 15px;
    font-size: 14px;
  }
  
  tbody tr.row-light {
    background-color: #ffffff;
  }
  
  tbody tr.row-dark {
    background-color: #fde092;
  }
  
  select {
    padding: 5px 10px;
    padding-right: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .eye {
    font-size: 18px;
    cursor: pointer;
  }
  .appointment-btn {
    background-color: #a68c4d;
    color: #fff;
    border: none;
    padding: 6px 15px;
    border-radius: 20px;
  }
  .appointment-btn:hover {
    background-color: #8e773f;
  }

  