<div class="dashboard-outer">

  <section>
    <div class="content-body">
      <div class="container-fluid">
        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-3 ml-1 gap-2">

          <!-- Back Button + Title Group -->
          <div class="flex items-center flex-wrap">
            <button
              class="back-btn-left-circle flex items-center justify-center w-7 h-7 rounded-full mr-3 text-white ml-2 mt-2"
              [routerLink]="['/Health-Tracker']">
            <i class="fas fa-arrow-left" style="font-size: 13px; text-align: center; color: black;"></i>

            </button>

            <h1 class="text-lg font-semibold text-center sm:text-left ml-3" style="font-size: 25px; color: #726641;">
              {{ 'BLOOD_SUGAR' | translate }}
            </h1>
          </div>

          <!-- Action Button -->
          <!-- Trigger Button -->
          <button class="appointment-btn bg-blue-500 text-white px-4 py-2 rounded-full w-full sm:w-auto"
            (click)="openModal()">
            + {{ 'BLOOD_SUGAR' | translate }}
          </button>
        </div>




        <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
          <div class="custom-container  mx-auto p-3">
            <div class="container">
              <div class="table-container">
                <div class="overflow-x-auto">
                  <table class="min-w-full table-auto">
                    <thead>
                      <tr>

                        <th class="px-4 py-2 text-sm md:text-base">{{ 'MRN' | translate }}</th>
                        <th class="px-4 py-2 text-sm md:text-base">{{ 'TYPE_NAME' | translate }}
                        </th>
                        <th class="px-4 py-2 text-sm md:text-base"> Blood Sugar(mg/dL)
                        </th>
                        <th class="px-4 py-2 text-sm md:text-base">{{ 'NOTES' | translate }}
                        </th>
                        <th class="px-4 py-2 text-sm md:text-base">{{ 'DATE' | translate }}</th>
                        <th>{{ 'STATUS' | translate}}</th>
                        <th class="px-4 py-2 text-sm md:text-base">{{'IMAGE' | translate}}</th>

                        <th>{{'ACTION' | translate}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="row-light" *ngFor="let item of bloodSugarList | paginate
                                                                        : {
                                                                            itemsPerPage: 5,
                                                                            currentPage: page,
                                                                            totalItems: totalItems,
                                                                            id: '1'
                                                                          }">

                        <td class="px-4 py-2 text-sm md:text-base">{{item.mrn || '--' }}</td>
                        <td class="px-4 py-2 text-sm md:text-base">{{item.typeName || '--' }}
                        </td>
                        <td class="px-4 py-2 text-sm md:text-base">{{item.value || '--' }}
                        </td>
                        <td class="px-4 py-2 text-sm md:text-base">{{item.notes || '--' }}</td>
                      <td class="px-4 py-2 text-sm md:text-base">
  {{ convertToLocalTime(item.createdAt) }}
</td>

                        <td [ngStyle]="{ 'color': getStatusColor(item.statusId) }">
                          {{ item.status }}
                        </td>
                        <td>
                          <a style="color: blue; text-decoration: underline;" *ngIf="item.image; else noImage"
                            (click)="openImagePreview(rootUrl + item.image)">{{ 'VIEW' | translate }}</a>
                          <!-- <img *ngIf="item.image; else noImage"
       [src]="rootUrl + item.image"
       alt="Image"
       (click)="openImagePreview(rootUrl + item.image)"
       class="w-12 h-12 object-cover rounded border border-gray-300 cursor-pointer hover:opacity-80" /> -->
                          <ng-template #noImage>N/A</ng-template>
                          <!-- Image Preview Modal -->
                          <div *ngIf="previewImageUrl"
                            class="fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center z-50">
                            <div class="relative bg-white p-4 rounded-lg shadow-lg">
                              <button (click)="closeImagePreview()"
                                class="absolute top-2 right-2 text-gray-700 text-xl">&times;</button>
                              <img [src]="previewImageUrl" alt="Preview"
                                class="max-w-[90vw] max-h-[80vh] rounded border border-gray-300" />
                            </div>
                          </div>

                        </td>
                        <td (click)="openModals(item.id)">
                          <i class="fa fa-pencil" style="cursor: pointer;"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="no-data text-center" *ngIf="bloodSugarList && bloodSugarList.length === 0">
                  <img src="assets/images/ffffrq-removebg-preview.png" style="width: 50%; margin: auto; padding: 50px;">
                </div>


                <div class="pagination-container pt-3 pb-3">
                  <pagination-controls *ngIf="bloodSugarList && bloodSugarList.length > 0"
                    (pageChange)="onPageChange($event)" id="1" class="paginate-doctor-list"
                    queryParamsHandling="merge"
                       [previousLabel]="'PREVIOUS' | translate"
    [nextLabel]="'NEXT' | translate">></pagination-controls>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>



<!-- Modal -->
<div class="modal fade" id="bloodSugarModal" #bloodSugarModal tabindex="-1" aria-labelledby="bloodSugarModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <form [formGroup]="form" (ngSubmit)="addRecord()" class="modal-content p-4" style="border-radius: 25px;">

      <div class="modal-header flex items-center justify-between">
        <div class="flex-1 text-center">
          <h5 class="modal-title text-xl font-semibold" id="bloodSugarModalLabel">
            {{ 'BLOOD_SUGAR' | translate }}
          </h5>
        </div>
        <button type="button" class="btn-close ml-auto" (click)="closeModal()" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <!-- File Upload -->
        <div class="esc mb-4">
          <label class="block text-sm font-semibold mb-2">{{ 'UPLOAD_FILE' | translate }}</label>
          <input type="file" id="fileInput" #fileInputRef accept="image/*" (change)="onFileChange($event)" class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4
                   file:rounded-full file:border-0 file:text-sm file:font-semibold
                   file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100" />
          <a *ngIf="imagePreview" (click)="openPreview()"
            class="text-blue-600 underline cursor-pointer text-sm mt-1 inline-block">
           {{ 'PREVIEW_IMAGE' | translate }}
          </a>
        </div>

        <!-- Image Preview Modal -->
        <div *ngIf="showPopup" class="fixed inset-0  bg-opacity-60 flex items-center justify-center z-50">
          <div class="bg-white p-4 rounded shadow-lg relative">
            <button (click)="closePreview()" class="absolute top-2 right-2 text-xl text-gray-600">&times;</button>
            <img [src]="imagePreview" alt="Full Preview" class="max-w-[90vw] max-h-[80vh] rounded" />
          </div>
        </div>

        <!-- Radio Buttons -->
        <div class="flex gap-4 mb-4">
          <label class="flex items-center space-x-2 cursor-pointer">
            <input type="radio" formControlName="type" [value]="1" class="accent-yellow-700" />
            <span class="text-sm">{{ 'FASTING' | translate }}</span>
          </label>
          <label class="flex items-center space-x-2 cursor-pointer">
            <input type="radio" formControlName="type" [value]="2" class="accent-yellow-700" />
            <span class="text-sm">{{ 'POST_MEAL' | translate }}</span>
          </label>
        </div>

        <!-- Sugar Input -->
        <label class="block text-sm text-gray-700 mb-1" for="sugarInput">
          {{ 'BLOOD_SUGAR' | translate }} ({{ 'MG_DL' | translate }})
        </label>
        <input type="text" id="sugarInput" formControlName="value"
          placeholder="{{ 'ENTER_BLOOD_SUGAR_LEVEL' | translate }}"
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-yellow-600 mb-4" />

        <button type="submit" class="w-full bg-yellow-700 text-white py-2 rounded-full hover:bg-yellow-800"
          style="color: #ffffff !important;">
          {{ 'SAVE_BLOOD_SUGAR' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>