<div class="dashboard-outer">

    <section>
        <div class="content-body">
            <div class="container-fluid">
                <div class="flex mb-2 items-center ml-1">

                    <h1 class="text-lg font-semibold" style="font-size: 25px; color: #726641;">{{ 'MESSAGE' |
                        translate }}</h1>
                </div>
                <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
                    <div class="custom-container mx-auto p-3">
                        <div class="container">

                            <div class="table-container">
                                <div class="table-responsive">
                                    <table class="medication-table">
                                        <thead>
                                            <tr>
                                                <th>{{ 'NAME' | translate }}</th>
                                                <th>{{ 'MR_NUMBER' | translate }}</th>
                                                <th>{{ 'LAST_MESSAGE' | translate }}</th>
                                                <th>{{ 'ACTION' | translate }}</th>
                                            </tr>
                                        <tbody>
                                            <tr class="row-light" *ngFor="let user of data | paginate
                            : {
                                itemsPerPage: 6,
                                currentPage: page,
                                totalItems: totalItems,
                                id: '1'
                              }">
                                                <td>{{ user.firstName }} {{ user.lastName }}</td>
                                                <td>{{ user.userName }}</td>
                                                <td>{{ user.lastMessage}}</td>
                                                <!-- Replace with actual phone number if available -->
                                                <td
                                                    [routerLink]="['/chat-list/chat/' + user.userName + '/' + user.firstName + ' ' + user.lastName]">
                                                    <div class="chat-icon">
                                                        <i class="fa-solid fa-comment-dots"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>

                           
                                <div class="no-data text-center" *ngIf="data && data.length === 0">
                                    <img src="assets/images/ffffrq-removebg-preview.png"
                                        style="width: 50%; margin: auto; padding: 50px;">
                                </div>

                                <div class="pagination-container pt-3 pb-3" *ngIf="data && data.length > 0">
                                    <pagination-controls (pageChange)="onPageChange($event)" id="1"
                                        class="paginate-doctor-list" queryParamsHandling="merge"
                                         [previousLabel]="'PREVIOUS' | translate"
    [nextLabel]="'NEXT' | translate"></pagination-controls>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>