<div class="dashboard-outer">

    <section>
        <div class="content-body">
            <div class="container-fluid">
                <div class="flex mb-2 items-center ml-1">

                    <h1 class="text-lg font-semibold" style="font-size: 25px; color: #726641;">Message</h1>
                </div>
                <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
                    <div class="custom-container mx-auto p-3">
                        <div class="container">

                            <div class="table-container">
                                <div class="table-responsive">
                                    <table class="medication-table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>MR Number</th>
                                                <th>Last Message</th>
                                                <th>Action</th>
                                            </tr>
                                        <tbody>
                                            <tr class="row-light" *ngFor="let user of data | paginate
                            : {
                                itemsPerPage: 6,
                                currentPage: page,
                                totalItems: totalItems,
                                id: '1'
                              }">
                                                <td>{{ user.firstName }} {{ user.lastName }}</td>
                                                <td>{{ user.userName }}</td>
                                                <td>{{ user.lastMessage}}</td>
                                                <!-- Replace with actual phone number if available -->
                                                <td
                                                    [routerLink]="['/chat-list/chat/' + user.userName + '/' + user.firstName + ' ' + user.lastName]">
                                                    <div class="chat-icon">
                                                        <i class="fa-solid fa-comment-dots"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>

                            <div class="pagination-container pt-3 pb-3">
                                <pagination-controls (pageChange)="onPageChange($event)" id="1"
                                    class="paginate-doctor-list" queryParamsHandling="merge"></pagination-controls>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>