<div class="dashboard-outer">

    <section>
        <div class="content-body">
            <div class="container-fluid">
                <div class="flex mb-2 items-center ml-1">

                    <h1 class="text-lg font-semibold" style="font-size: 25px; color: #726641;">Message</h1>
                </div>
                <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
                    <div class="custom-container mx-auto p-3">
                        <div class="container">

                            <div class="table-container">
                                <div class="table-responsive">
                                    <table class="medication-table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>MR Number</th>
                                                <th>Phone Number</th>
                                                <th>Action</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <tr class="row-light">
                                                <td>KHADIJAH ABDULAZIZ</td>
                                                <td>
                                                    AMCH24110975
                                                </td>

                                                <td>1254785214</td>
                                                <td [routerLink]="['/chat-list/chat']">
                                                    <div class="chat-icon">
                                                        <i class="fa-solid fa-comment-dots"></i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>