<div class="dashboard-outer">

    <section>
        <div class="content-body">
            <div class="container-fluid">
                <div class="flex items-center mb-3 ml-1">
                    <button class="flex items-center justify-center w-7 h-7 rounded-full mr-3 mb-2 text-white ml-2 mt-2"
                        style="background-color: #726641;" (click)="backClicked()">
                        <i class="fas fa-arrow-left" style="font-size: 13px; text-align: center;"></i>
                    </button>
                    <h1 class="text-lg font-semibold" style="font-size: 25px; color: #726641;">Steps</h1>

                    <!-- Book Appointment Button -->
                    <!-- <button class="appointment-btn ml-auto bg-blue-500 text-white px-4 py-2 rounded-full">+ Steps
                    </button> -->

                </div>
                <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
                    <div class="custom-container max-w-5xl mx-auto p-3">
                        <div class="container">
                            <div class="table-container">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>MRN</th>
                                            <th>Steps</th>
                                            <th>Total&nbsp;Distance</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="row-light" *ngFor="let item of stepsList  | paginate
                                        : {
                                            itemsPerPage: 5,
                                            currentPage: page,
                                            totalItems: totalItems,
                                            id: '1'
                                          }">
                                            <td>{{item.mrn || 'N/A' }}</td>
                                            <td>{{item.steps || 'N/A' }}</td>
                                            <td>
                                                {{item.totalDistance || 'N/A' }}
                                            </td>
                                            <td>
                                                {{ item.date ? (item.date | date:'dd-MM-yyyy') : 'N/A' }}
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>

                                <div class="no-data text-center" *ngIf="stepsList && stepsList.length === 0">
                                    <img src="assets/images/ffffrq-removebg-preview.png" style="width: 50%; margin: auto; padding: 50px;">
                                </div>
                                <div class="pagination-container">
                                    <pagination-controls (pageChange)="onPageChange($event)" id="1"
                                        class="paginate-doctor-list" queryParamsHandling="merge"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>