<div class="dashboard-outer">

    <section>
        <div class="content-body">
            <div class="container-fluid">
                <div class="flex items-center mb-3 ml-1">
                    <button class="flex items-center justify-center w-7 h-7 rounded-full mr-3 mb-2 text-white ml-2 mt-2"
                        style="background-color: #726641;" (click)="backClicked()">
                        <i class="fas fa-arrow-left" style="font-size: 13px; text-align: center;"></i>
                    </button>
                    <h1 class="text-lg font-semibold" style="font-size: 25px; color: #726641;">{{ 'STEPS' | translate }}</h1>

                    <!-- Book Appointment Button -->
                    <!-- <button class="appointment-btn ml-auto bg-blue-500 text-white px-4 py-2 rounded-full">+ Steps
                    </button> -->

                </div>
                <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
                    <div class="custom-container  mx-auto p-3">
                        <div class="container">
                            <div class="table-container">
                                <div class="overflow-x-auto">
                                    <table class="min-w-full table-auto">
                                        <thead>
                                            <tr>
                                                <th class="px-4 py-2 text-sm md:text-base">{{ 'MRN' | translate }}</th>
                                                <th class="px-4 py-2 text-sm md:text-base">{{ 'STEPS' | translate }}</th>
                                                <th class="px-4 py-2 text-sm md:text-base">{{ 'TOTAL_DISTANCE' | translate }}</th>
                                                <th class="px-4 py-2 text-sm md:text-base">{{ 'DATE' | translate }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="row-light" *ngFor="let item of stepsList | paginate
                                                                        : {
                                                                            itemsPerPage: 5,
                                                                            currentPage: page,
                                                                            totalItems: totalItems,
                                                                            id: '1'
                                                                          }">
                                                <td class="px-4 py-2 text-sm md:text-base">{{item.mrn || 'N/A' }}</td>
                                                <td class="px-4 py-2 text-sm md:text-base">{{item.steps || 'N/A' }}</td>
                                                <td class="px-4 py-2 text-sm md:text-base">{{item.totalDistance || 'N/A' }}</td>
                                                <td class="px-4 py-2 text-sm md:text-base">{{ item.date ? (item.date | date:'dd-MM-yyyy') : 'N/A' }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div class="no-data text-center" *ngIf="stepsList && stepsList.length === 0">
                                    <img src="assets/images/ffffrq-removebg-preview.png" style="width: 50%; margin: auto; padding: 50px;">
                                </div>
                                
                                <div class="pagination-container pt-3 pb-3">
                                    <pagination-controls (pageChange)="onPageChange($event)" id="1"
                                        class="paginate-doctor-list" queryParamsHandling="merge"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>