<div class="dashboard-outer">

    <section>
        <div class="content-body">
            <div class="container-fluid">
              <form [formGroup]="complaintForm" (ngSubmit)="onSubmit()">
                <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
                    <div class="custom-container max-w-5xl mx-auto p-3">
                <div class="flex items-center justify-between mb-2 ml-1">
                    <!-- Back Arrow Button on the Left -->
                    <button class="back-btn-left-circle flex items-center justify-center w-7 h-7 rounded-full text-white"
                       (click)="backClicked()">
                     <i class="fas fa-arrow-left" style="font-size: 13px; text-align: center; color: black;"></i>

                    </button>
                  
                    <!-- Center Text -->
                    <h1 class="text-lg font-semibold text-center flex-1" style="font-size: 25px; color: #726641;">
                    {{ 'COMPLAINTS_&_SUGGESTIONS' | translate }}
                    </h1>
                  
                    <!-- Icon on the Right -->
                    <span class="icon text-xl">💬</span>
                  </div>
                  
                <div class="container">
                    
                
                    <div class="form-box">
                      <div formGroupName="complaint">
                        <div class="col-md-4 p-0">
                            <div class="form-group custom-select-wrapper">
                              <select class="form-control custom-select" id="complaint" formControlName="complaintTypeId" id="complaintTypeId">
                                <option value="null" disabled selected>{{ 'SELECT_COMPLAINT' | translate }}</option>
                                <option *ngFor="let type of typeList" [value]="type.complaintTypeId">{{ type.complaintTypeName }}</option>
                               
                              </select>

                              <div *ngIf="complaintTypeId?.touched && complaintTypeId?.invalid" class="text-danger">
                                {{ 'COMPLAINT_TYPE_IS_REQUIRED' | translate }}
                              </div>

                            </div>
                          </div>
                          
                
                      <textarea placeholder="Reason for complaint" formControlName="description"></textarea>
                      <div *ngIf="complaintDescription?.touched && complaintDescription?.invalid" class="text-danger">
                       {{ 'COMPLAINT_DESCRIPTION_IS_REQUIRED' | translate }}
                      </div>
                    </div>
                    <div formGroupName="feedbackDetails">
                      <div class="toggle-box" style="background-color: white;">
                        <span style="font-size: 18px; font-weight: 600;">{{ 'FEEDBACK_OR_SUGGESSTIONS' | translate }}</span>
                        <label class="switch">
                          <input type="checkbox" [formControlName]="'enableFeedback'" (change)="onToggleChange()" />
                          <span class="slider round"></span>
                        </label>
                      </div>
                    
                      <textarea
                        *ngIf="complaintForm.get('feedbackDetails.enableFeedback')?.value"
                        formControlName="feedback"
                        class="form-control mt-2"
                        placeholder="Enter your Feedback or suggestions">
                      </textarea>
                    </div>
                    
                    
                    <button class="submit-btn mt-2 " style="color: rgb(255, 255, 255); background-color: #A68C4D; border-radius: 100px; width: 15%;">{{ 'SUBMIT' | translate }}</button>

                    </div>
                  </div>
                  </div>
                  </div>
                </form>
            </div>
        </div>
    </section>
</div>