<div class="dashboard-outer">

    <section>
        <div class="content-body">
            <div class="container-fluid">
                <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
                    <div class="custom-container max-w-5xl mx-auto p-3">
                <div class="flex items-center justify-between mb-2 ml-1">
                    <!-- Back Arrow Button on the Left -->
                    <button class="flex items-center justify-center w-7 h-7 rounded-full text-white"
                        style="background-color: #726641;">
                      <i class="fas fa-arrow-left" style="font-size: 13px;"></i>
                    </button>
                  
                    <!-- Center Text -->
                    <h1 class="text-lg font-semibold text-center flex-1" style="font-size: 25px; color: #726641;">
                      Complaints
                    </h1>
                  
                    <!-- Icon on the Right -->
                    <span class="icon text-xl">💬</span>
                  </div>
                  
                <div class="container">
                    
                
                    <div class="form-box">
                        <div class="col-md-4 p-0">
                            <div class="form-group custom-select-wrapper">
                              <select class="form-control custom-select" id="complaint">
                                <option>Select Complaint</option>
                                <option>Late Delivery</option>
                                <option>Wrong Item</option>
                                <option>Rude Staff</option>
                              </select>
                            </div>
                          </div>
                          
                
                      <textarea placeholder="Reason for complaint"></textarea>
                
                      <div class="toggle-box" style="background-color: white;">
                        <span style="font-size: 18px; font-weight: 600;">Feedback or suggestions</span>
                        <label class="switch">
                          <input type="checkbox">
                          <span class="slider round"></span>
                        </label>
                      </div>
                      
                      <button class="submit-btn mt-2">Submit</button>
                    </div>
                  </div>
                  </div>
                  </div>
            </div>
        </div>
    </section>
</div>