<div class="dashboard-outer">

    <section>
        <div class="content-body">
            <div class="container-fluid">
                <div class="flex justify-between items-center mb-3 ml-1">
                    <button class="flex items-center justify-center w-7 h-7 rounded-full mr-3 mb-2 text-white"
                        style="background-color: #726641;">
                        <i class="fas fa-arrow-left" style="font-size: 13px; text-align: center;"></i>
                    </button>
                    <h1 class="text-lg font-semibold" style="font-size: 25px; color: #726641;">Blood pressure</h1>

                    <!-- Book Appointment Button -->
                    <button class="appointment-btn ml-auto bg-blue-500 text-white px-4 py-2 rounded-full">+ Blood
                        pressure
                    </button>

                </div>
                <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
                    <div class="custom-container max-w-5xl mx-auto p-3">
                        <div class="container">
                            <div class="table-container">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>MRN</th>
                                            <th>Systolic</th>
                                            <th>Diastolic</th>
                                            <th>Notes</th>

                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="row-light">
                                          <td>MRK02145</td>
                                          <td>done</td>
                                          <td>end</td>
                                          <td>
                                           top end of 
                                          </td>
                                         
                                          <td>25/02/2025</td>
    
                                        </tr>
                                  
                                      </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>
    </section>
</div>