<div class="dashboard-outer">

    <section>
        <div class="content-body">
            <div class="container-fluid">
                <div class="flex justify-between items-center mb-3 ml-1">
                    <button class="flex items-center justify-center w-7 h-7 rounded-full mr-3 mb-2 text-white"
                        style="background-color: #726641;" (click)="backClicked()">
                        <i class="fas fa-arrow-left" style="font-size: 13px; text-align: center;"></i>
                    </button>
                    <h1 class="text-lg font-semibold" style="font-size: 25px; color: #726641;">Blood pressure</h1>

                    <!-- Book Appointment Button -->
                    <button (click)="openModal()" class="appointment-btn ml-auto bg-blue-500 text-white px-4 py-2 rounded-full">
                        + Blood pressure
                      </button>


                </div>
                <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
                    <div class="custom-container max-w-5xl mx-auto p-3">
                        <div class="container">
                            <div class="table-container">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>MRN</th>
                                            <th>Systolic</th>
                                            <th>Diastolic</th>
                                            <th>Notes</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="row-light" *ngFor="let item of bloodPressureList  | paginate
                                        : {
                                            itemsPerPage: 5,
                                            currentPage: page,
                                            totalItems: totalItems,
                                            id: '1'
                                          }">
                                            <td>{{item.mrn || 'N/A' }}</td>
                                            <td>{{item.systolic || 'N/A' }}</td>
                                            <td>{{item.diastolic || 'N/A' }}</td>
                                            <td>
                                                {{item.notes || 'N/A' }}
                                            </td>
                                            <td>
                                                {{ item.createdAt ? (item.createdAt | date:'dd-MM-yyyy') : 'N/A' }}
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                                <div class="no-data text-center" *ngIf="bloodPressureList && bloodPressureList.length === 0" >
                                    <img src="assets/images/ffffrq.jpg">
                                </div>

                                <div class="pagination-container">
                                    <pagination-controls (pageChange)="onPageChange($event)" id="1"
                                        class="paginate-doctor-list" queryParamsHandling="merge"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>


<!-- Modal -->
<div *ngIf="showModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50" (click)="closeModal()">
    <div class="popup-container bg-white p-2 rounded shadow" (click)="$event.stopPropagation()">
        <div class="modal-header flex items-center justify-between">
            <div class="flex-1 text-center">
              <h5 class="modal-title text-xl font-semibold">Blood Pressure</h5>
            </div>
          
            <button
              type="button"
              class="btn-close text-xl ml-auto"
              aria-label="Close"
              (click)="closeModal()"
            ></button>
          </div>
          
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="addRecord()">
          <label for="systolic">Systolic (mmHg)</label>
          <input type="text" id="systolic" placeholder="Enter systolic value" formControlName="systolic">
  
          <label for="diastolic">Diastolic (mmHg)</label>
          <input type="text" id="diastolic" placeholder="Enter diastolic value" formControlName="diastolic">
  
          <button type="submit" class="end bg-blue-500 text-white px-4 py-2 rounded-full mt-4">Save Blood Pressure</button>
        </form>
      </div>
    </div>
  </div>