<section>
    <div class="content-body">
        <div class="container-fluid">

            <div class="bx-table table-responsive">
                <!-- <button class="btn gold-btn" [routerLink]="['']">{{ 'ADD_DOCTOR' | translate}}
                </button> -->

                <table class="table data">
                    <tr>
                      <td colspan="8">
                        <!-- Updated colspan to match the number of columns -->
                        <h4 style="background-color: #f3f3f3 !important;">{{ 'DOCTOR_LIST' | translate}}</h4>
                      </td>
                    </tr>
                  
                    <tr>
                      <th scope="col">{{ 'PRINT_NAME' | translate}}</th>
                      <th scope="col">{{ 'CONTACT' | translate}}</th>
                      <th scope="col">{{ 'SPECIALTY' | translate}}</th>
                      <th scope="col">{{ 'GENDER' | translate}}</th>
                      <th scope="col">{{ 'ROLES' | translate}}</th>
                      <th scope="col">{{ 'DEPARTMENTS' | translate}}</th>
                      <th scope="col">{{ 'ACTION' | translate}}</th>
                    </tr>
                  
                    <tr
                      *ngFor="
                        let item of doctorList 
                          | paginate : { itemsPerPage: 10, currentPage: page, totalItems: totalItems, id: '1' };
                        let i = index
                      "
                    >
                     
                      <td>{{ item?.printName || 'N/A' }}</td>
                      <td>{{ item?.contact || 'N/A' }}</td>
                      <td>{{ item?.specialty || 'N/A' }}</td>
                      <td>{{ item?.gender }}</td>
                      <td>
                        <span *ngIf="item.roles; else noRoles">
                          {{ item?.roles?.join(', ') }}
                        </span>
                        <ng-template #noRoles>N/A</ng-template>
                      </td>
                      <td>
                        <span *ngIf="item.departments; else noDepartments">
                          {{ item?.departments?.join(', ') }}
                        </span>
                        <ng-template #noDepartments>N/A</ng-template>
                      </td>
                      <td>
                        <a
                          class="list-icon"
                          ><i class="fa fa-eye" (click)="editContent(item)" aria-hidden="true"></i
                        ></a>
                        <a
                          [routerLink]="['/doctors-list/doctor-add', item?.Id]"
                          class="edit-btn"
                          ><i class="fa fa-pencil" aria-hidden="true"></i
                        ></a>
                        <a type="button" class="cross-btn-table">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>

                    
                  </table>
                  
            </div>
            <pagination-controls (pageChange)="((page = $event))" id="1" (pageIndex)="page" class="paginate-doctor-list"
                queryParamsHandling="merge" (pageChange)="onPageChange($event)">
            </pagination-controls>

        </div>
    </div>
</section>