<div class="dashboard-outer">

  <section>
    <div class="content-body">
      <div class="container-fluid">
        <div class="flex mb-2 items-center ml-1">

          <h1 class="text-lg font-semibold" style="font-size: 25px; color: #726641;">{{ 'MEDICATION_LIST' | translate }}
          </h1>
        </div>
        <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
          <div class="custom-container mx-auto p-3">
            <div class="container">

              <div class="table-container">
                <div class="table-responsive">
                  <table class="medication-table">
                    <thead>
                      <tr>
                        <th>{{ 'MEDICATION_NAME' | translate }}</th>
                        <th>{{ 'DOSAGE' | translate }}</th>
                        <th>{{ 'FREQUENCY' | translate }}</th>
                        <th>{{ 'INTRUCTIONS' | translate }}</th>
                        <th>{{ 'CREATED_AT' | translate }}</th>
                        <th>{{ 'ACTION' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="row-light" *ngFor="let item of medicationList | paginate : {
                                        itemsPerPage: 5,
                                        currentPage: page,
                                        totalItems: totalItems,
                                        id: '1'
                                      }">
                        <td>{{ item.medicationName || 'N/A' }}</td>
                        <td>{{ item.dosage || 'N/A' }}</td>
                        <td>{{ item.frequency || 'N/A' }}</td>
                        <td>
                          {{
                          (item.instructions ? item.instructions.split(' ').slice(0, 2).join(' ') +
                          (item.instructions.split(' ').length > 2 ? '...' : '') : 'N/A')
                          }}
                        </td>

                        <td>{{ item.createdAt ? (item.createdAt | date:'dd-MM-yyyy') : 'N/A' }}</td>
                        <td>
                          <a [routerLink]="['/medication-list/detail', item.medicationId]" class="action-link">
                            <i class="fas fa-eye"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="no-data text-center" *ngIf="medicationList && medicationList.length === 0">
                  <img src="assets/images/ffffrq-removebg-preview.png" style="width: 50%; margin: auto; padding: 50px;">
                </div>

                <div class="pagination-container pt-3 pb-3" *ngIf="medicationList && medicationList.length > 0">
                  <pagination-controls (pageChange)="onPageChange($event)" id="1" class="paginate-doctor-list"
                    queryParamsHandling="merge"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>