<section>
    <div class="content-body">
        <div class="container-fluid">

            <div class="bx-table table-responsive">
                <!-- <button class="btn gold-btn" [routerLink]="['/']">{{ 'ADD_DOCTOR' | translate}}
                </button> -->

                <table class="table data">
                    <tr>
                      <td colspan="8">
                        <!-- Updated colspan to match the number of columns -->
                        <h4 style="background-color: #f3f3f3 !important;">{{ 'COMPLAINT_LIST' | translate}}</h4>
                      </td>
                    </tr>
                  
                    <tr>
                      <th scope="col">{{ 'PATIENT_NAME' | translate}}</th>
                      <th scope="col">{{ 'MRN' | translate}}</th>
                      <th scope="col">{{ 'DESCRIPTION1' | translate}}</th>
                      <th scope="col">{{ 'STATUS' | translate}}</th>
                      <th scope="col">{{ 'CREATED_AT' | translate}}</th>
                      <th scope="col">{{ 'ACTION' | translate}}</th>
                    </tr>
                  
                    <tr
                      *ngFor="
                        let item of complaintList 
                          | paginate : { itemsPerPage: 10, currentPage: page, totalItems: totalItems, id: '1' };
                        let i = index
                      "
                    >
                     
                      <td>{{ item?.patientName || 'N/A' }}</td>
                      <td>{{ item?.mrn || 'N/A' }}</td>
                      <td>
                        {{ item?.description ? item.description.split(' ').slice(0, 5).join(' ') + (item.description.split(' ').length > 5 ? '...' : '') : 'N/A' }}
                      </td>
                      <td>
                        <select class="form-select" [(ngModel)]="item.status" (ngModelChange)="onStatusChange(item.complaintId , item.status)" aria-label="Default select example">
                          <option value="" disabled>{{ 'SELECT_STATUS' | translate}}</option>
                          <option value="Pending">{{ 'PENDING' | translate}}</option>
                          <option value="Resolved">{{ 'RESOLVED' | translate}}</option>
                          <option value="No Action">{{ 'NO_ACTION' | translate}}</option>
                        </select>
                      </td>
                              
                      <td>{{ item?.createdAt ? (item?.createdAt | date: 'MM/dd/yyyy') : 'N/A' }}</td>

                    <td>
                      <a
                        class="list-icon"    [routerLink]="['/complaint-list/complaint-detail', item?.complaintId ]"
                        ><i class="fa fa-eye"  aria-hidden="true"></i
                      ></a>
                      
                    </td>
                  </tr>
                    
                  </table>
                  
            </div>
            <pagination-controls (pageChange)="((page = $event))" id="1" (pageIndex)="page" class="paginate-doctor-list"
                queryParamsHandling="merge" (pageChange)="onPageChange($event)">
            </pagination-controls>

        </div>
    </div>
</section>