<div class="dashboard-outer">
    <section>
        <div class="content-body">
            <div class="container-fluid">
                <div class="flex mb-4 items-center ml-1">
                    <button class="flex items-center justify-center w-8 h-8 rounded-full text-white"
                        style="background-color: #726641;">
                        <i class="fas fa-arrow-left text-xs text-center"></i>
                    </button>
                    <h1 class="text-lg font-semibold ml-2" style="font-size: 25px; color: #726641;">
                        Steps
                    </h1>
                </div>
                <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 10px;">
                    <div class=" mx-auto">
                        <form class="p-5 mt-2 mb-3">
                            <div class="row g-2">
                                <div class="container">
                                  
                                    <div class="title">Steps</div>
                                    <img src="/assets/images/run.png" alt="Runner"
                                        class="runner" />
                                    <div class="steps-count">0</div>
                                    <div class="steps-label">Today Steps</div>

                                    <div class="chart-container">
                                         <div class="target-label">Target</div>
                                        <div class="target-line"></div>
                                       
                                        <div class="y-axis">
                                            <div>4,000</div>
                                            <div>3,000</div>
                                            <div>2,000</div>
                                            <div>1,000</div>
                                            <div>0</div>
                                        </div>
                                        <div class="x-axis">
                                            <span>29</span>
                                            <span>30</span>
                                            <span>31</span>
                                            <span>Sun</span>
                                            <span>Mon</span>
                                            <span>Tue</span>
                                            <span>Today</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>