<section>
    <div class="content-body">
        <div class="container-fluid">
            <div class="input-form">
                <div class="row justify-content-start align-items-start g-0">
                    <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 col-xxl-9">
                        <div class="card-shipper">
                            <div class="back-btn-left-circle mt-1">
                                <i class="fi fi-rr-arrow-small-left" (click)="backClicked()"
                                    style="color:#726641; padding-top: 7px;"></i>
                            </div>
                            <div>
                                <p>
                                    <span class="black-home">{{ 'VISIT_DETAILS' | translate}}</span>
                                </p>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex row justify-content-space-between align-items-center">
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                    {{ 'CARE_PROVIDER_NAME' | translate}}
                                </p>
                                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                </p>
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label class="address-texts">
                                        {{ visitDetails?.visitCareProviders[0]?.careProviderUid?.fullName || 'N/A' }}
                                        {{ visitDetails?.visitCareProviders[0]?.careProviderUid?.lastName || 'N/A' }}
                                      </label>
                                </p>
                            </li>
                            <li class="list-group-item d-flex row justify-content-space-between align-items-center">
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                     {{ 'DEPARTMENT_NAME' | translate}}
                                </p>
                                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                </p>
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label class="address-texts">
                                        {{ visitDetails?.visitCareProviders[0]?.departmentUid?.name || 'N/A' }}
                                    </label>
                                </p>
                            </li>
                            <li class="list-group-item d-flex row justify-content-space-between align-items-center">
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                     {{ 'DEPARTMENT_UID' | translate}}
                                </p>
                                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                </p>
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label class="address-texts">
                                        {{ visitDetails?.visitCareProviders[0]?.departmentUid?.id || 'N/A' }}
                                    </label>
                                </p>
                            </li>
                            <li class="list-group-item d-flex row justify-content-space-between align-items-center">
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                    {{ 'VISIT_TYPE' | translate}}
                                </p>
                                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                </p>
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label class="address-texts">
                                        {{ visitDetails?.visitCareProviders[0]?.entypeUid?.valueDescription || 'N/A' }}
                                    </label>
                                </p>
                            </li>
                            <li class="list-group-item d-flex row justify-content-space-between align-items-center">
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                    {{ 'PAYOR_NAME' | translate}}
                                </p>
                                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                </p>
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label class="address-texts">{{ visitDetails?.visitPayors[0]?.payorUid?.fullName || 'N/A' }}
                                       </label>
                                </p>
                            </li>
                            <li class="list-group-item d-flex row justify-content-space-between align-items-center">
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                   {{ 'PAYOR_AGREEMENT' | translate}} 
                                </p>
                                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                </p>
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label class="address-texts">{{ visitDetails?.visitPayors[0]?.payorAgreementUid?.fullName || 'N/A' }}</label>
                                </p>
                            </li>
                            <li class="list-group-item d-flex row justify-content-space-between align-items-center">
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                {{ 'TPA_NAME' | translate}}
                                </p>
                                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                </p>
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label class="address-texts">{{ visitDetails?.visitPayors[0]?.tpaUid?.fullName || 'N/A' }}</label>
                                </p>
                            </li>
                            <li class="list-group-item d-flex row justify-content-space-between align-items-center">
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                   {{ 'ORDEFR_OF_PREFERENCE' | translate}}
                                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                </p>
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label class="address-texts">{{ visitDetails?.visitPayors[0]?.orderOfPreference || 'N/A' }}</label>
                                </p>
                            </li>
                            <li class="list-group-item d-flex row justify-content-space-between align-items-center">
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                {{ 'VISITOR_DEPARTMENT' | translate}}
                                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                </p>
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label class="address-texts">{{visitDetails?.visitJourneys[0]?.departmentUid?.name || 'N/A' }}</label>
                                </p>
                            </li>
                            <li class="list-group-item d-flex row justify-content-space-between align-items-center">
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                {{ 'VISITOR_CARE_PROVIDER' | translate}}
                                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                </p>
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label class="address-texts">
                                        {{visitDetails?.visitJourneys[0]?.careProviderUid?.fullName || 'N/A' }}
                                       </label>
                                </p>
                            </li>
                            <li class="list-group-item d-flex row justify-content-space-between align-items-center">
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                {{ 'USER' | translate}}
                                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                </p>
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label class="address-texts">
                                        {{visitDetails?.visitJourneys[0]?.userUid?.fullName || 'N/A' }}
                                    </label>
                                </p>
                            </li>
                            <li class="list-group-item d-flex row justify-content-space-between align-items-center">
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                     {{ 'STATUS' | translate}}
                                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                </p>
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label class="address-texts">
                                        {{visitDetails?.visitJourneys[0]?.statusUid?.valueDescription || 'N/A' }}
                                    </label>
                                </p>
                            </li>
                           
                            <li class="list-group-item d-flex row justify-content-space-between align-items-center">
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                    {{ 'MODIFIED_AT' | translate}}
                                <p class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                </p>
                                <p class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                                    <label class="address-texts">{{ visitDetails?.visitJourneys[0]?.modifiedAt ?
                                        (visitDetails?.visitJourneys[0]?.modifiedAt | date: 'MM/dd/yyyy') : 'N/A' }}                       
                                    </label>
                                </p>
                            </li>


                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>