.black-btn {
    background: #303740;
    border: none;
    padding: 0px 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
    height: 46px;
    width: 100%;
    cursor: pointer;
    min-width: 70px;
}
.eye-icon {
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
}
.input-forms input[type=submit] {
    background: #5fff0096;
    display: block;
    margin: auto;
    margin-top: 30px;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 5px 20px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
}
/* Override for RTL */
html[dir="rtl"] .eye-icon {
    right: auto;
    left: 10px;
}
.eye-icon-ltr {
  position: absolute;
  right: 10px;
  cursor: pointer; 
  top: 38%; 
  transform: translateY(-50%);
}

.eye-icon-rtl {
  position: absolute;
  left: 10px;
  top: 38%; 
  cursor: pointer; 
  transform: translateY(-50%);
}