<!-- <div class="login-wrapper position-relative z-index-9"
  style="background:url(./assets/images/plusbg.png)no-repeat left 0px center;background-size: 600px !important;">

  <div class="container">
    <div class="login-perents d-grid column-two">
      <div class="login-child text-center">
        <img src="assets/images/anfas-logo.svg" class="img-responsive m-auto d-block" style="max-width: 130px;">
        <div class="mt-20 logtchilda">
          <span (click)="switchLanguage('ar')" style="cursor: pointer;">أنفاس</span>
             
          <h3 (click)="switchLanguage('en')" style="text-transform: uppercase; color: #FEC24F; cursor: pointer;">
              Anfas</h3>
          <p>{{ 'YOUR_PATH_TO_WELLNESS_STARTS_HERE' | translate }}</p>
        </div>
      </div>
      <div class="plus position-relative"
        style="background: #FEC34F; height: 100vh; display: grid; align-items: center;">
        <form [formGroup]="form" (ngSubmit)="resetPassword()">
          <div class="login-forms">
            <h2>{{ 'FORGOT_PASSWORD' | translate }}</h2>
            <div class="mt-20"></div>
            <label>{{ 'EMAIL_ADDRESS' | translate }}</label>
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-8">
                <input type="text" class="form-control" formControlName="email"
                  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                <div *ngIf="submitted && f['email'].errors" class="help-block">
                  <div *ngIf="f['email'].errors['required']">{{ 'EMAIL_REQUIRED' | translate }}</div>
                  <div *ngIf="f['email'].errors['email']">{{ 'EMAIL_INVALID' | translate }}</div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4">
                <button type="button" class="black-btn" (click)="sendOTP()" [disabled]="otpSent && !otpVerified">
                  {{ otpSent ? ('RESEND_OTP' | translate) : ('SEND_OTP' | translate) }}
                </button>
              </div>
            </div>

         
        <label>{{ 'OTP' | translate }}</label>
        <div class="row">
          <div class="col-lg-8 col-md-8">
            <input type="text" class="form-control" formControlName="otp" numbersOnly (keydown)="onKeyDown($event)">
            <div *ngIf="submitted && f['otp'].errors" class="help-block">
              <div *ngIf="f['otp'].errors['required']">{{ 'OTP_REQUIRED' | translate }}</div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 mt-2-567">
            <button type="button" class="black-btn" (click)="verifyOTP()" [disabled]="otpVerified">
              {{ otpVerified ? ('VERIFIED' | translate) : ('VERIFY' | translate) }}
            </button>
          </div>

        </div>
            <label for="newPassword">{{ 'NEW_PASSWORD' | translate }}</label>
            <div class="d-flex position-relative">
              <input [type]="showPassword ? 'text' : 'password'" class="form-control password"
                formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f['newPassword'].errors }">
              <div class="eye-icon" (click)="togglePasswordVisibility()"
              [ngClass]="{'eye-icon-rtl': currentLanguage === 'ar', 'eye-icon-ltr': currentLanguage !== 'ar'}">
                <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" aria-hidden="true"></i>
              </div>
            </div>
            <div *ngIf="submitted && f['newPassword'].errors" class="help-block">
              <div *ngIf="f['newPassword'].errors['required']">{{ 'PASSWORD_REQUIRED' | translate }}</div>
            </div>

            <label for="confirmPassword">{{ 'CONFIRM_PASSWORD' | translate }}</label>
            <div class="d-flex position-relative">
              <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control password"
                formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
                id="confirmPassword">
              <div class="eye-icon" (click)="toggleConfirmPasswordVisibility()"  [ngClass]="{'eye-icon-rtl': currentLanguage === 'ar', 'eye-icon-ltr': currentLanguage !== 'ar'}">
                <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'" aria-hidden="true"></i>
              </div>
            </div>
            <div *ngIf="submitted && f['confirmPassword'].errors" class="help-block">
              <div *ngIf="f['confirmPassword'].errors['required']">{{ 'CONFIRM_PASSWORD_REQUIRED' | translate }}</div>
              <div *ngIf="f['confirmPassword'].errors['mustMatch']">{{ 'PASSWORDS_MUST_MATCH' | translate }}</div>
            </div>

            <input type="submit" value="{{ 'SUBMIT' | translate }}" class="view-more">
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->