  
  .btn-custom  {
    padding: 10px;
    background: #a48f64;
    color: #FEC34F;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
    width: 20%;
    margin: auto;
  }
  
  .btn-custom:hover{
    background: #8a774e;
  }

 
