<div class="dashboard-outer">
  <section>
    <div class="content-body">
      <div class="container-fluid">
        <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
          <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
            <div class="custom-container mx-auto p-3">
              <div class="d-flex flex-wrap align-items-center justify-content-between mb-2 px-2">
                <!-- Back Arrow Button on the Left -->
                <div class="me-auto">
                  <button class="back-btn-left-circle d-flex align-items-center justify-content-center rounded-circle text-white"
                      (click)="backClicked()">
                    <i class="fas fa-arrow-left" style="font-size: 13px;"></i>
                  </button>
                </div>

                <!-- Center Text -->
                <div class="flex-grow-1 text-center mt-2 mt-sm-0">
                  <h1 class="m-0" style="font-size: 25px; color: #726641;">
                    {{ 'REQUEST' | translate }}
                  </h1>
                </div>
              </div>


              <div class="container mt-4">
                <div class="row mb-3">
                  <!-- <div class="col-12 col-sm-6 col-md-4 mb-2">
                    <label for="username" class="form-label">{{ 'USER_NAME' | translate }}</label>
                    <input type="text" class="form-control" id="username" name="username"
                      placeholder="{{ 'ENTER_USER_NAME' | translate }}" formControlName="username">

                    <div *ngIf="submitted && f['username'].errors" class="text-danger">
                      <div *ngIf="f['username'].errors['required']">
                        {{ 'USER_NAME_IS_REQUIRED' | translate }}
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-sm-6 col-md-4 mb-2">
                    <label for="phone" class="form-label">{{ 'PHONE_NUMBER' | translate }}</label>
                    <input type="tel" class="form-control" id="phone" name="phone"
                      placeholder="{{ 'ENTER_PHONE_NUMBER' | translate }}" formControlName="phoneNumber">

                    <div *ngIf="submitted && f['phoneNumber'].errors" class="text-danger">
                      <div *ngIf="f['phoneNumber'].errors['required']">
                        {{ 'PHONE_NUMBER_IS_REQUIRED' | translate }}
                      </div>
                    </div>
                  </div> -->

                  <div class="col-12 col-sm-6 col-md-4 mb-2">
                    <label for="type" class="form-label">{{ 'REQUEST_TYPE' | translate }}</label>
                    <select class="form-select" id="type" name="type" formControlName="requestTypeId">
                      <option value="" disabled>{{ 'SELECT' | translate }}</option>
                      <option *ngFor="let type of requestTypeList" [value]="type.requestTypeID">
                        {{ type.requestTypeName }}
                      </option>
                    </select>

                    <div *ngIf="submitted && f['requestTypeId'].errors" class="text-danger">
                      <div *ngIf="f['requestTypeId'].errors['required']">
                        {{ 'REQUEST_TYPE_IS_REQUIRED' | translate }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-3 mt-3">
                  <div class="col-12">
                    <label for="description" class="form-label">{{ 'DESCRIPTION1' | translate }}</label>
                    <textarea class="form-control" id="description" name="description" rows="3"
                      placeholder="{{ 'ENTER_DESCRETION' | translate }}" formControlName="discretion"></textarea>

                    <div *ngIf="submitted && f['discretion'].errors" class="text-danger">
                      <div *ngIf="f['discretion'].errors['required']">
                        {{ 'DISCRETION_IS_REQUIRED' | translate }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-center mb-4">
                  <button type="submit" class="btn btn-custom  w-sm-50 w-md-25 mt-2">
                    {{ 'SUBMIT' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>