<div class="dashboard-outer">

  <section>
    <div class="content-body">
      <div class="container-fluid">
        <div class="flex mb-2 items-center">
          <!-- Title Text -->
          <h1 class="text-lg font-semibold" style="font-size: 25px; color: #726641; margin-bottom: 15px; ">{{ 'MY_PROFILE' | translate }}
          </h1>
        </div>
        <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 10px;">
          <div class="profile-image pt-5" style="display: flex; justify-content: center; ">
            <img src="assets/images/logo-dashboard.png" alt="Profile Image">
          </div>
          <div class="row d-flex p-10">
            <div class="col-md-4 col-12 mt-2 mb-2">
              <div class="info-group"><strong>{{ 'FIRST_NAME' | translate }}:</strong> {{detail.firstName}}</div>
            </div>
            <div class="col-md-4 col-12 mt-2 mb-2">
              <div class="info-group"><strong>{{ 'MIDDLE_NAME' | translate }}:</strong> {{detail.middleName}}</div>
            </div>
            <div class="col-md-4 col-12 mt-2 mb-2">
              <div class="info-group"><strong>{{ 'LAST_NAME' | translate }}:</strong> {{detail.lastName}}</div>
            </div>
            <div class="col-md-4 col-12 mt-2 mb-2">
              <div class="info-group"><strong>{{ 'GENDER' | translate }}:</strong> {{gender.valueDescription}}</div>
            </div>
            <div class="col-md-4 col-12 mt-2 mb-2">
              <div class="info-group"><strong>{{ 'DATE_OF_BIRTH' | translate }}:</strong> {{detail.dateOfBirth}}</div>
            </div>
            <div class="col-md-4 col-12 mt-2 mb-2">
              <div class="info-group"><strong>{{ 'NATIONALITY' | translate }}:</strong>
                {{detail.nationality.valueDescription}}</div>
            </div>
            <div class="col-md-4 col-12 mt-2 mb-2">
              <div class="info-group"><strong>{{ 'MARITAL_STATUS' | translate }}:</strong>
                {{detail.maritalStatus.valueDescription}}</div>
            </div>
            <div class="col-md-4 col-12 mt-2 mb-2">
              <div class="info-group"><strong>{{ 'PREFERRED_LANGUAGE' | translate }}:</strong>
                {{detail.preferredLanguage.valueDescription}}</div>
            </div>
            <div class="col-md-4 col-12 mt-2 mb-2">
              <div class="info-group"><strong>{{ 'MR_NUMBER' | translate }}:</strong> {{detail.mrn}}</div>
            </div>
            <div class="col-md-4 col-12 mt-2 mb-2">
              <div class="info-group"><strong>{{ 'NATIONAL_ID' | translate }}:</strong> {{detail.nationalId}}</div>
            </div>
            <div class="col-md-4 col-12 mt-2 mb-2">
              <div class="info-group"><strong>{{ 'PHONE_NUMBER' | translate }}:</strong> {{detail.contact.mobilePhone}}
              </div>
            </div>
          </div>

          <!-- <div class="consent-button pl-5">
                        <a href="#">Review Your Consent Form</a>
                      </div> -->
          <div class="consent-button-top mt-3 pl-5" *ngIf="detail.isConsentSinged == true"
            (click)="navigateToPreview()">
            <a style="color: blue; font-weight: 400;" class="consent-lin">{{ 'REVIEW_YOUR_CONSENT_FORM' | translate }}</a>
          </div>

         <div class="consent-button-top mt-3 pb-10 pl-5" *ngIf="detail.isConsentSinged == false" (click)="navigateToPreview()">
  <a class="consent-link">
    {{
      'YOU_HAVE_NOT_YET_SIGNED_THE_CONSENT_FORM_TO_PROCEED_WITH_FUTURE_BOOKINGS_PLEASE_SIGN_THE_CONSENT_FORM_NOW'
      | translate
    }}
  </a>
</div>




        </div>
      </div>
    </div>
  </section>
</div>