<div class="dashboard-outer">

    <section>
        <div class="content-body">
            <div class="container-fluid">
                <div class="flex mb-2 items-center">
                    <!-- Title Text -->
                    <h1 class="text-lg font-semibold" style="font-size: 25px; color: #726641; margin-bottom: 15px; ">My Profile</h1>
                  </div>
                  <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 10px;">
                    <div class="profile-image pt-5" style="display: flex; justify-content: center; ">
                        <img src="assets/images/logo-dashboard.png" alt="Profile Image">
                      </div>
                      <div class="row d-flex p-10">
                        <div class="col-md-4 col-12 mt-2 mb-2">
                          <div class="info-group"><strong>First Name:</strong> KHADIJAH</div>
                        </div>
                        <div class="col-md-4 col-12 mt-2 mb-2">
                          <div class="info-group"><strong>Middle Name:</strong> AHMED</div>
                        </div>
                        <div class="col-md-4 col-12 mt-2 mb-2">
                          <div class="info-group"><strong>Last Name:</strong> ABDULAZIZ</div>
                        </div>
                        <div class="col-md-4 col-12 mt-2 mb-2">
                          <div class="info-group"><strong>Gender:</strong> Female</div>
                        </div>
                        <div class="col-md-4 col-12 mt-2 mb-2">
                          <div class="info-group"><strong>Date of Birth:</strong> 05-05-1981</div>
                        </div>
                        <div class="col-md-4 col-12 mt-2 mb-2">
                          <div class="info-group"><strong>Nationality:</strong> SAUDI ARABIA</div>
                        </div>
                        <div class="col-md-4 col-12 mt-2 mb-2">
                          <div class="info-group"><strong>Marital Status:</strong> Unknown</div>
                        </div>
                        <div class="col-md-4 col-12 mt-2 mb-2">
                          <div class="info-group"><strong>Preferred Language:</strong> Arabic</div>
                        </div>
                        <div class="col-md-4 col-12 mt-2 mb-2">
                          <div class="info-group"><strong>Mr Number:</strong> AMCH24110975</div>
                        </div>
                        <div class="col-md-4 col-12 mt-2 mb-2">
                          <div class="info-group"><strong>National ID:</strong> 1036407797</div>
                        </div>
                        <div class="col-md-4 col-12 mt-2 mb-2">
                          <div class="info-group"><strong>Phone Number:</strong> 598018387</div>
                        </div>
                      </div>
                      
                      <!-- <div class="consent-button pl-5">
                        <a href="#">Review Your Consent Form</a>
                      </div> -->
                      <div class="consent-button-top mt-3 pl-5">
                        <a href="#" style="color: blue; font-weight: 400;">Review Your Consent Form</a>
                      </div>
                      <div class="consent-button-top mt-3 pb-10 pl-5">
                        <a href="#" style="color: blue; font-weight: 400;">You have not yet signed the consent form. To proceed with future bookings, please sign the consent form now.</a>
                      </div>
                      
                      
                  </div>
            </div>
        </div>
    </section>
</div>