<div class="app-main__outer1">

    <div class="app-main__inner">

        <div class="user-header">
            <img (click)="backClicked()" src="/assets/plugins/images/backimage1.png" class="backimage-butn" />
            <h3>Edit Doctor</h3>
        </div>

        <section class="address-info-form">
            <h4 style="text-align: center;">Upload Profile Pic</h4>
            <div class="imges-upload mb-0">
                <div class="imgUp imgUp-1 m-auto imgDesg">
                    <div class="user-list-images">
                        <img [src]="doctorImg">
                    </div>
                    <label class="btn btn-primary">
                        Upload<input type="file" class="uploadFile img" value="Upload Photo"
                            style="width: 0px;height: 0px;overflow: file; border-style: none;">
                    </label>
                </div>
                <br>
                <br>
            </div>
        </section>

        <section class="address-info-form">
            <h5>Personal Information</h5>
            <form [formGroup]="form">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">First Name</label>
                        <input type="text" class="form-control" id="firstName" formControlName="firstName"
                            value="{{doctorDetails?.firstName}}">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Last Name</label>
                        <input type="text" class="form-control" id="lastName" formControlName="lastName"
                            value="{{doctorDetails?.lastName}}">
                    </div> 
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Choose Gender</label>
                        <select id="" class="form-control" formControlName="genderId"
                            value="{{doctorDetails?.genderId}}">
                            <option value="" [selected]="true">Choose Gender</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Date Of Birth</label>
                        <input type="datetime" class="form-control" bsDatepicker formControlName="dateOfBirth"
                            value="{{doctorDetails?.dateOfBirth}}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Enter Email Address </label>
                        <input type="text" class="form-control" id="email" formControlName="email"
                            value="{{doctorDetails?.email}}">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputAddress">Enter Phone Number </label>
                        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber"
                            value="{{doctorDetails?.phoneNumber}}" OnlyNumbers>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Experience (In Years.)</label>
                        <input type="text" class="form-control" id="experience" formControlName="experience"
                            value="{{doctorDetails?.experience}}" numbersOnly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Education </label>
                        <ng-multiselect-dropdown formControlName="degreeId" (onSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)">
                            <option *ngFor="let degreeId  of degreeList" [value]="degreeId.id">
                                {{degreeId.name}}</option>
                        </ng-multiselect-dropdown>

                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Medical Registration Number </label>
                        <input type="text" class="form-control" id="medicalRegistrationNumber"
                            formControlName="medicalRegistrationNumber"
                            value="{{doctorDetails?.medicalRegistrationNumber}}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Specialization</label>
                        <ng-multiselect-dropdown formControlName="doctorSpecialization"
                            (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                            <option *ngFor="let doctorSpecialization  of specializationList"
                                [value]="doctorSpecialization.id">
                                {{doctorSpecialization.name}}</option>
                        </ng-multiselect-dropdown>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Languages Known</label>
                        <ng-multiselect-dropdown formControlName="doctorLanguage" (onDeSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)">
                            <option *ngFor="let doctorLanguage  of languagesList" [value]="doctorLanguage.id">
                                {{doctorLanguage.name}}</option>
                        </ng-multiselect-dropdown>

                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">About</label>
                    <textarea class="form-control" id="about" rows="3" formControlName="about"
                        value="{{doctorDetails?.about}}"></textarea>

                </div>

                <h5>Address Information</h5>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputAddress">Country</label>
                        <ng-multiselect-dropdown formControlName="countryId" (onDeSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)">
                            <option>
                            </option>
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">State</label>
                        <ng-multiselect-dropdown formControlName="stateId" (onDeSelect)="onItemSelect($event)"
                            (onSelectAll)="onSelectAll($event)">
                            <option>
                            </option>
                        </ng-multiselect-dropdown>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">City Name</label>

                        <input type="text" class="form-control" id="city" formControlName="city"
                            value="{{doctorDetails?.city}}" appAlphabeticOnly>
                    </div>

                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Address</label>
                    <textarea class="form-control" id="address" rows="3" formControlName="address"
                        value="{{doctorDetails?.address}}"></textarea>
                </div>
            </form>
        </section>

        <div class="info-per-btn">
            <button type="submit" class="save-btn">Update</button>
            <button class="cancel-btn" (click)="cancel()">Cancel</button>
        </div>
    </div>banner