<div class="dashboard-outer">

    <section>
        <div class="content-body">
            <div class="container-fluid">
              <div class="flex justify-between items-center mb-3 ml-1">
                <h1 class="text-lg font-semibold" style="font-size: 25px; color: #726641;">My Appointment</h1>
                
                <!-- Book Appointment Button -->
                <button class="appointment-btn ml-auto bg-blue-500 text-white px-4 py-2 rounded-full">+ Book Appointment</button>
            </div>
            


                <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
                    <div class="custom-container max-w-5xl mx-auto p-3">
                        <div class="container">
                            <div class="col-lg-4 col-md-6 col-sm-12 mb-3 p-0">
                                <select
                                class="bg-white border border-gray-300 text-gray-700 py-2 px-2 rounded w-100"
                                style="font-size: 16px; color: #726641; padding-right: 50px!important;"
                                [(ngModel)]="selectedStatus"
                                (change)="filterHistoryList()"
                              >
                                <option value="" disabled>Select Option</option>
                                <option value="All">All</option>
                                <option value="Booked">Booked</option>
                                <option value="Cancelled">Cancelled</option>
                                <option value="No Show">No Show</option>
                              </select>
                              </div>
                              
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of historyList | paginate
                                : {
                                    itemsPerPage: 6,
                                    currentPage: page,
                                    totalItems: totalItems,
                                    id: '1'
                                  }">
                                    <div class="appointment-card">
                                        <div class="d-flex justify-content-between align-items-start mb-2"
                                            style="border-bottom: 1px solid gray; padding-bottom: 10px;">
                                            <!-- Left Side: Text + Date -->
                                            <div class="appointment-header">
                                                Appointment Date<br><strong> {{ item.slots[0]?.start | date: 'medium'  || 'N/A'  }}</strong>
                                            </div>

                                            <!-- Right Side: Chat Icon -->
                                            <div
                                                class="chat-icon-box d-flex justify-content-center align-items-center pt-2">
                                                <i class="bi bi-chat-dots-fill" (click)="editContent(item)"></i>
                                            </div>
                                        </div>
                                        <!-- <div class="chat-icon-box d-flex justify-content-center align-items-center pt-2">
                                          <i class="bi bi-chat-dots-fill"></i>
                                        </div> -->
                                      
                                  
                                      <!-- Doctor Info -->
                                      <div class="d-flex align-items-center mb-2">
                                        <img src="assets/images/logo-dashboard.png" alt="Doctor"
                                            class="doctor-img me-3"
                                            style="background-color: rgb(221, 221, 221); border-radius: 50%;">
                                        <div>
                                          <p class="doctor-name mb-1">
                                            Dr. {{ item.careProviderUid?.name }} {{ item.careProviderUid?.lastName }}
                                          </p>
                                          <p class="department mb-1">
                                            {{ item.departmentUid?.name  || 'N/A'  }}
                                          </p>
                                          <p class="status-booked mb-0">
                                            {{ item.slots[0]?.statusUid?.valueDescription  || 'N/A' }}
                                          </p>
                                        </div>
                                      </div>
                                  
                                      <!-- Footer Button -->
                                      <div class="d-flex justify-content-end">
                                        <button class="appointment-btn d-flex align-items-center gap-1">
                                          <span style="font-size: 15px; color: #FEC34F;">Appointments</span>
                                          <i class="fas fa-chevron-down" style="font-size: 10px; color: #FEC34F;"></i>
                                        </button> 
                                      </div>
                                  
                                    </div>
                                  </div>
                                </div>
                        
                              
                            </div>
                            
                        <div class="pagination-container">
                          <pagination-controls (pageChange)="onPageChange($event)" id="1" class="paginate-doctor-list"
                            queryParamsHandling="merge"></pagination-controls>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        
    </section>
</div>