<div class="dashboard-outer">

  <section>
    <div class="content-body">
      <div class="container-fluid">
        <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center gap-3 mb-3 ml-1 sm:ml-0">
          <h1 class="text-lg sm:text-xl font-semibold text-[#726641]">
            {{ 'MY_APPOINTMENTS' | translate }}
          </h1>

          <!-- Book Appointment Button -->
          <button *ngIf="showAppointmentButton"
            class="appointment-btn bg-blue-500 text-white px-4 py-2 rounded-full w-full sm:w-auto sm:ml-auto"
            [routerLink]="['/appointment-list/appointment']">
            + {{ 'BOOK_APPOINTMENT' | translate }}
          </button>
        </div>



        <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
          <div class="custom-container max-w-5xl mx-auto p-3">
            <div class="container">
              <div class="col-lg-4 col-md-6 col-sm-12 mb-3 p-0">
                <select class="bg-white border border-gray-300 text-gray-700 py-2 px-2 rounded w-100"
                  style="font-size: 16px; color: #726641; padding-right: 50px!important;" [(ngModel)]="selectedStatus"
                  (change)="filterHistoryList()">
                  <option value="" disabled>{{ 'SELECT_OPTION' | translate }}</option>
                  <option value="All">{{ 'ALL' | translate }}</option>
                  <option value="Booked">{{ 'BOOKED' | translate }}</option>
                  <option value="Cancelled">{{ 'CANCELLED' | translate }}</option>
                  <option value="No Show">{{ 'NO_SHOW' | translate }}</option>
                </select>
              </div>

              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let item of historyList | paginate
                                : {
                                    itemsPerPage: 6,
                                    currentPage: page,
                                    totalItems: totalItems,
                                    id: '1'
                                  }">
                  <div class="appointment-card">
                    <div class="d-flex justify-content-between align-items-start mb-2"
                      style="border-bottom: 1px solid gray; padding-bottom: 10px;">
                      <!-- Left Side: Text + Date -->
                      <div class="appointment-header">
                        {{ 'APPOINTMENT_DATE' | translate }}<br><strong> {{ item.slots[0]?.start | date: 'medium' ||
                          'N/A' }}</strong>
                      </div>

                      <!-- Right Side: Chat Icon -->
                      <div class="chat-icon-box d-flex justify-content-center align-items-center pt-2">
                        <i class="bi bi-chat-dots-fill" (click)="editContent(item)"></i>
                      </div>
                    </div>
                    <!-- <div class="chat-icon-box d-flex justify-content-center align-items-center pt-2">
                                          <i class="bi bi-chat-dots-fill"></i>
                                        </div> -->


                    <!-- Doctor Info -->
                    <div class="d-flex align-items-center mb-2">
                      <img src="assets/images/logo-dashboard.png" alt="Doctor" class="doctor-img me-3"
                        style="background-color: rgb(221, 221, 221); border-radius: 50%;">
                      <div>
                        <p class="doctor-name mb-1">
                          Dr. {{ item.careProviderUid?.name }} {{ item.careProviderUid?.lastName }}
                        </p>
                        <p class="department mb-1">
                          {{ item.departmentUid?.name || 'N/A' }}
                        </p>
                        <p class="status-booked mb-0"
                          [ngStyle]="{ color: getStatusColor(item.slots[0]?.statusUid?.valueDescription) }">
                          {{ item.slots[0]?.statusUid?.valueDescription || 'N/A' }}
                        </p>
                      </div>
                    </div>

                    <!-- Footer Button -->
                    <div class="d-flex justify-content-end">
                      <button class="appointment-btn d-flex align-items-center gap-1"
                        (click)="selectedAppointment = item">
                        <span style="font-size: 15px; color: #FEC34F;">{{ 'APPOINTMENTS' | translate }}</span>
                        <i class="fas fa-chevron-down" style="font-size: 10px; color: #FEC34F;"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>


            </div>

            <div class="pagination-container ml-3">
              <pagination-controls (pageChange)="onPageChange($event)" id="1" class="paginate-doctor-list"
                queryParamsHandling="merge"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>

<!-- Popup Overlay (Angular Bound) -->
<div *ngIf="selectedAppointment" class="popup-overlay" (click)="closeOnOutsideClick($event)">
  <div class="modal-dialog modal-dialog-centered" (click)="$event.stopPropagation()">
    <div class="modal-content" style="border-radius: 25px; border: none;">
      <form>
        <div class="modal-header flex items-center justify-between">
          <div class="flex-1 text-center">
            <h5 class="modal-title text-xl font-semibold">{{ 'MY_APPOINTMENT' | translate }}</h5>
          </div>
        </div>
        <div class="p-6 shadow-md font-sans space-y-4" style="width: 460px;">
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-2">
              <img src="assets/images/logo-dashboard.png" alt="Icon" class="w-5 h-5">
              <div class="text-sm text-gray-500">{{ 'APPOINTMENT_NUMBER' | translate }}</div>
            </div>
            <div class="font-semibold text-black"> {{ selectedAppointment.slots[0]?.appointmentNumber || 'N/A' }}</div>
          </div>
          <div class="flex items-center justify-between">
            <div class="text-sm text-gray-500 pl-4">{{ 'START_TIME' | translate }}</div>
            <div class="font-semibold text-black">{{ selectedAppointment.slots[0]?.start | date: 'medium' }}</div>
          </div>
          <div class="flex items-center justify-between">
            <div class="text-sm text-gray-500 pl-4">{{ 'END_TIME' | translate }}</div>
            <div class="font-semibold text-black">{{ selectedAppointment.slots[0]?.end | date: 'medium' }}</div>
          </div>
          <div class="flex items-center justify-between">
            <div class="text-sm text-gray-500 pl-4">{{ 'STATUS' | translate }}</div>
            <div class="font-medium"
              [ngStyle]="{ color: getStatusColor(selectedAppointment.slots[0]?.statusUid?.valueDescription) }">
              {{ selectedAppointment.slots[0]?.statusUid?.valueDescription || 'N/A' }}
            </div>
          </div>

          <div class="flex justify-end space-x-3 pt-2"
            *ngIf="selectedAppointment.slots[0]?.statusUid?.valueDescription !== 'No Show'">
            <button type="button"
              class="px-4 py-2 border border-gray-800 rounded-full text-sm text-black font-bold hover:bg-gray-100"
              (click)="selectedAppointment = null">
              {{ 'CANCEL' | translate }}
            </button>
            <button type="button"
              class="px-3 py-1 bg-[#b89c5a] rounded-full text-sm font-bold hover:bg-[#a88d4e] flex items-center"
              style="color: #FEC34F!important;" (click)="edit(selectedAppointment)">
              {{ 'RESCHEDULE' | translate }}
              <span class="ml-2">&gt;</span>
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>