<div class="dashboard-outer">
  <section>
    <div class="content-body">
      <div class="container-fluid">
        <div class="flex mb-4 items-center ml-1">
          <h1 class="text-lg font-semibold ml-2" style="font-size: 25px; color: #726641;">
            {{ 'PROFILE' | translate }}
          </h1>
        </div>

        <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 15px;">
          <div class="custom-container mx-auto p-3">
            <div class="container">
              <div class="profile-card mb-4">
                <img src="/assets/images/icon01.png" alt="User Photo" class="profile-photo" />

                <div class="profile-details">
                  <div class="profile-title">{{ profileData.name }}</div>




                  <div class="profile-section">
                    <div class="profile-label">{{ 'DEFAULT_DEPARTMENT' | translate }}</div>
                    <div class="profile-info">{{ profileData.defaultDepartment?.name }}</div>
                  </div>

                  <div class="profile-section">
                    <div class="profile-label">{{ 'USER_DEPARTMENTS' | translate }}</div>
                    <ul class="bullet-list">
                      <li *ngFor="let dept of profileData.userDepartments">
                        {{ dept.id }}
                      </li>
                    </ul>
                  </div>




                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>