<div class="dashboard-outer">
    <section>
        <div class="content-body">
            <div class="container-fluid">
                <div class="flex mb-4 items-center ml-1">
                    <button class="flex items-center justify-center w-8 h-8 rounded-full text-white"
                        style="background-color: #726641;">
                        <i class="fas fa-arrow-left text-xs text-center"></i>
                    </button>
                    <h1 class="text-lg font-semibold ml-2" style="font-size: 25px; color: #726641;">
                       Heart Rate
                    </h1>
                </div>
                <div class="bg-gray-50 text-gray-800 font-sans" style="border-radius: 10px;">
                    <div class=" mx-auto ">
                        <form class=" px-4 mt-2" >
                            <div class="row   g-2">
                                 <div class="col-12 col-md-6 col-lg-4 ">
                                    <div class="mt-3">
                                        <label for="exampleFormControlInput1" class="form-label" style="font-weight: 600;">From Date:</label>
                                        <input type="date" class="form-control" formControlName="FromDate">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 ">
                                    <div class="mt-3">
                                        <label for="exampleFormControlInput1" class="form-label" style="font-weight: 600;">To Date:</label>
                                        <input type="date" class="form-control" formControlName="ToDate">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="container mt-4">
                            <div class="row">
                                <!-- Card 1 -->
                                <div class="col-12 col-md-6 col-lg-4 ">
                                    <div class="custom-card d-flex flex-column">
                                        <div class="d-flex align-items-start">
                                            <div class="icon-circle">
                                                <!-- Heart Icon (SVG same as image) -->
                                                <i class="fas fa-heartbeat"
                                                    style="color: #9baec8; font-size: 22px;"></i>

                                            </div>
                                            <div class="ml-2">
                                                <div class="card-title">44545bpm</div>
                                                <div class="card-time">Friday, 16 May 2025 12:29 PM</div>
                                            </div>
                                        </div>

                                        <div class="card-actions mt-4">
                                            <button class="btn-reject">Reject</button>
                                            <button class="btn-approve">Approve</button>
                                        </div>
                                    </div>
                                </div>

                                <!-- Card 2 -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="custom-card d-flex flex-column">
                                        <div class="d-flex align-items-start">
                                            <div class="icon-circle">
                                                <!-- Heart Icon (SVG same as image) -->
                                                <i class="fas fa-heartbeat"
                                                    style="color: #9baec8; font-size: 22px;"></i>

                                            </div>
                                            <div class="ml-2">
                                                <div class="card-title">4887848 bpm</div>
                                                <div class="card-time">Wednesday, 14 May 2025 12:23 PM</div>
                                            </div>
                                        </div>
                                        <div class="card-actions justify-content-end mt-4">
                                            <button class="btn-verified">Verified</button>
                                        </div>
                                    </div>
                                </div>

                                <!-- Card 3 -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="custom-card d-flex flex-column">
                                        <div class="d-flex align-items-start">
                                            <div class="icon-circle">
                                                <!-- Heart Icon (SVG same as image) -->
                                                <i class="fas fa-heartbeat"
                                                    style="color: #9baec8; font-size: 22px;"></i>

                                            </div>
                                            <div class="ml-2">
                                                <div class="card-title">64646555 bpm</div>
                                                <div class="card-time">Wednesday, 14 May 2025 10:28 AM</div>
                                            </div>
                                        </div>
                                        <div class="card-actions mt-4">
                                            <button class="btn-reject">Reject</button>
                                            <button class="btn-approve">Approve</button>
                                        </div>
                                    </div>
                                </div>

                                <!-- Card 4 -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="custom-card d-flex flex-column">
                                        <div class="d-flex align-items-start">
                                            <div class="icon-circle">
                                                <!-- Heart Icon (SVG same as image) -->
                                                <i class="fas fa-heartbeat"
                                                    style="color: #9baec8; font-size: 22px;"></i>

                                            </div>
                                            <div class="ml-2">
                                                <div class="card-title">777 bpm</div>
                                                <div class="card-time">Friday, 2 May 2025 10:28 AM</div>
                                              
                                            </div>
                                        </div>

                                        <div class="card-actions mt-4 ">
                                            <button class="btn-rejected">Rejected</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

