<div class="content-body">
    <div class="container-fluid">
      <div class="white-box table-box bg-white mt-25">
        <section class="address-info-form">
          <form [formGroup]="aboutusForm">
            <!-- About Us Display Section -->
            <div  style="background-color: #f3f3f3; padding: 15px;">
              <!-- <h4>About Us</h4> -->
            </div>
  
            <!-- Injected HTML Content -->
            <div class="mt-20" [innerHTML]="aboutUsContent"></div>
  
            <!-- Submit Button -->
            <div class="info-per-btn mt-20" style="padding-bottom: 20px;">
              <!-- <button type="submit" class="btn gold-btn-submit">Update</button> -->
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
  